#about {
    main {
        @media screen and (max-width: $tablet) {
            padding-top: 7em;
        }
    }

    .intro {
        position: relative;
        img {
            position: absolute
            z-index 44;
            width: 100%;
            max-width: 100%;
        }

        .caption {
            position: absolute;
            right: 5%;
            bottom: 6em;
            text-align: right;

            .inner {
                position: relative;
                padding-right: 3em;
                @include clearfix;

                &::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    height: 100%;
                    width: 20px;
                    background: $orange;

                    @media screen and (max-width: $tablet) {
                        width: 10px;
                    }
                }
            }

            h2 {
                color: #fff;
                font-size: 3em;
                font-weight: bold;
                margin-bottom: .1em;
            }

            p {
                color: #fff;
                float: right;
                width: 55%;
                font-size: 1.8em;
            }

            @media screen and (max-width: $btablet) {
                bottom: 2em;

                h2 {
                    font-size: 2.5em;
                }

                p {
                    width: 60%;
                    font-size: 1.2em;
                }


            }

            @media screen and (max-width: $tablet) {
                h2 { font-size: 1.7em;}
                p { font-size: 1em; width: 80%;}
            }

            @media screen and (max-width: $mobile) {
                display: block;
                margin-top: 2em;
                padding-right: 1em;
                position: initial;

                h2, p {
                    color: #000;
                }
            }
        }
    }

    .members {
        width: $headerWidth;
        margin: 0 auto;
        padding: 4em 0;

        img {
            display: block;
            margin: 1em auto;
        }
        ul {
            @include clearfix;
        }

        li {
            float: left;
            width: 21%;
            margin-right: 4%;
            text-align: center;

            @media screen and (max-width: $tablet) {
                width: 47%;
                margin-right: 5%;
                margin-bottom: 2em;

                &:nth-child(2n+2) {
                    margin-right: 0;
                }
            }

            @media screen and (max-width: $mobile) {
                width: 100%;
                margin-right: 0;
            }

            h3 {
                font-weight: bolder;
            }

        }
    }

    #how {
        background: $lgrey;
        padding: 5em 0;

        .wrapper {
            width: $headerWidth;
            margin: 0 auto;
            @include clearfix;
            font-size: 0;
        }

        .head {
            font-size: initial;
            display: inline-block;
            width: 35%;
            vertical-align: middle;

            p {
                font-style: italic;
            }
        }

        h2 {
            font-size: 4em;
            font-weight: bolder;

            span {
                font-size: inherit;
                font-weight: bolder;
            }
        }

        .content {
            width: 65%;
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            @include clearfix;

            p {
                clear: both;
                width: 75%;
                float: right;
                margin-bottom: 1em;
            }

            span.cta {
                clear: both;
                float: right;
                background: $orange;
                margin-top: 1em;
                color: #fff;
                transition: .3s ease-out;

                &:hover {
                    padding-right: 4em;
                    transition: .2s ease-in;
                }
            }
        }

        @media screen and (max-width: $btablet) {
            .head, .content {
                display: block;
                width: 100%;
                margin-bottom: 3em;
                text-align: left;

                &.content p, &.content span.cta {
                    float: none;
                    margin-bottom: 2em;
                }

                &.content span.cta {
                    display: block;
                    width: 40%;
                    margin-top: 3em;

                    &:hover {
                        padding-right: initial;
                    }
                }
            }
        }

        @media screen and (max-width: $tablet) {
            h2 {
                font-size: 3em;
            }

            .content p {
                width: 100%;
                line-height: 1.5;
            }
        }
    }
}
