#admin-articles {
    main section {
        width: $adminMainWidth;
        margin: 0 auto;
        padding-top: 3em;
    }
}

#admin-all-articles {
    @include clearfix;

    .head-all-articles {
        float: left;
    }

    .order-by {
        float: right;

        label,
        option,
        select {
            color: $orange;
            font-weight: bolder;
        }

        select {
            border: 1px solid $orange;
            background: none;
            border-radius: 200px;
        }
    }

    .head {
        clear: both;
        background: $mgrey;

        .actions > div {
            display: inline-block;
            padding: 1em 3em;
            cursor: pointer;

            select {
                background: transparent;
                border-radius: 200px;
                padding-right: 0;
            }
        }
    }
}

#admin-view-articles {
  clear: both;
  padding-top: 4em;

    article {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 1.7em;
        padding: 2.4em 3.5em;
        @include clearfix;

        div {
          margin-right: 3em;
        }

        .checkbox {
            float: left;
            text-align: center;
            margin-top: 10px;
        }

        .check-status {
          border: 0;
        }

        .actions {
            float: right;
        }
    }
}
