body[id*="admin-"] {
    main {
        width: 85%;
        float: right;
        overflow-x: hidden;
        padding-bottom: 2em;
        background: $lmgrey;

        .inner {
            width: 95%;
            margin: 0 auto;
            padding-top: 2em;
            @include clearfix;
        }

        @media screen and (max-width: $tablet) {
          width: $adminRWD;
          float: none;
          margin: 0 auto;

          .inner {
            width: 100%;
            margin: 0;
          }
        }
    } // END OF MAIN
}

#admin-home {
    @include clearfix;

    .all-articles {
        width: 77%;
        float: left;
        border-radius: 10px;
        margin-right: 3%;
        padding: 2em 0;

        @media screen and (max-width: $tablet) {
          width: 100%;
          float: none;
        }

        .head {
            padding-bottom: 20px;
            border-bottom: 3px solid $mgrey;
            margin-bottom: 3em;
            @include clearfix;

            a {
                display: block;
                float: left;
                font-size: 16px;
                font-weight: bolder;
                margin: 0 10px;
                padding: 0 1em;

                &.active {
                  position: relative;
                  font-size: 17px;
                  color: $orange;
                  font-weight: bold;

                  &::before {
                    content: '';
                    position: absolute;
                    background: $orange;
                    width: 100%;
                    height: 6px;
                    bottom: -25px;
                    left: 0;
                  }
                }
            }

            a:not(.active) {
                color: rgba(0, 0, 34, 0.5);;
            }

            .vue {
              float: right;

              span.active {
                color: $orange;
                background: $orange;
              }
            }
        }
        // END OF HEAD

        article {
            background: #fff;
            padding: 2em 1.5em;
            border-radius: 4px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
            margin-bottom: 1em;
            @include clearfix;

            a.container {
              display: block;
              float: left;
              @include clearfix;
            }

            // infos, post status, actions
            a.container > div {
              float: left;
              margin-right: 1.3em;
            }

            h3 {
              font-size: 16px;
              margin-bottom: 0.4em;
            }

            &:hover {
                background: #f7f7f7;
            }

            .author, .author b {
                font-size: 16px;
            }

            .post-status {
              position: relative;
              border-radius: 5px;
              border: 1px solid $pink;
              height: 40px;
              line-height: 2.3;
              padding: 0 1em 0 35px;
              color: $pink;
              font-weight: bold;

              .round {
                position: absolute;
                border-radius: 100px;
                width: 7px;
                height: 7px;
                background: $pink;
                left: 15px;
                top: 40%;
              }
            }

            .category {
              @include ctbtn($ldgrey);
            }

            .more {
              float: right;
              width: 5%;
              line-height: 2.8;
              cursor: pointer;
              span {
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 100px;
                background: $ldgrey;
                margin-bottom: 3px;
                cursor: pointer;
              }
            }


        }
        // END OF ARTICLE
    }

    .stats {
        width: 20%;
        float: right;

        @media screen and (max-width: $tablet) {
          width: 100%;
          float: none;
          clear: both;
          margin-top: 3em;
          overflow-x: scroll;
        }

        @media screen and (max-width: $mobile) {
          padding-left: 2em;
        }

        .quick-stats {

            & > div {
                background: #fff;
                width: 100%;
                padding: 1.7em .8em;
                margin-bottom: 1em;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);

                &:last-child {
                    margin-right: 0;
                }
            }

            @media screen and (max-width: $mobile) {
              width: 20%;
              width: 300%;
              overflow-x: scroll;
            }

            .head {
              margin-bottom: 1em;

              h3 {
                font-weight: bolder;
                text-transform: uppercase;
                font-size: 15px;
              }

              span.last-date {
                font-size: .8em;
              }
            }

            .nb {
              font-size: 3.8em;
              font-weight: bolder;
            }
        }
    }
}
