#admin-new-partner {

  main > div {
    width: $adminMainWidth;
    margin: 0 auto;

    &.head {
      padding-top: 3em;
      margin-bottom: 7em;
    }
  }

    .go-back {
      @include ctbtn($dblue);
      border: 2px solid $dblue;
      color: $dblue;
      padding: .8em 2em;
      font-weight: bolder;
      cursor: pointer;
    }

  .container {
    margin-top: 2em;
  }

  form {
    width: 30%;
    margin: 0 auto;
    @include clearfix;

    .submit {
      width: 100%;
      margin-top: 1em;
      border: none;
      border-radius: 4px;
      background: $dblue;
      color: #fff;
      padding: 1em 2em;
      font-weight: bolder;
    }

    div {
      float: left;
    }
  }

  .partner-name {
    width: 100%;
    padding: 2em;
    border-radius: 5px;
    background: $mgrey;

    label {
      font-weight: bolder;
    }

    input {
      display: block;
      margin-top: 1em;
      width: 100%;
      border: none;
      padding: 1em 1em;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(168, 168, 168, 0.11);
    }
  }

  .partner-img {
    width: 100%;
    margin-bottom: 1em;

    figure {
      background: #fff;
      padding: 4em 3em;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(168, 168, 168, 0.11);
    }

    button {
      border: none;
      width: 100%;
      border-radius: 4px;
      background-color: $mgrey;
      padding: 1em;
      color: $dblue;
      font-weight: bolder;
      cursor: pointer;
      margin-top: 1em;
      box-shadow: 0 2px 4px 0 rgba(168, 168, 168, 0.11);
    }
  }
}
