body[id*="admin-"] {
    main {
        width: 85%;
        float: right;

        .inner {
            width: 95%;
            margin: 0 auto;
            padding-top: 2em;
            @include clearfix;
        }
    }
}

#admin-home {
    @include clearfix;

    .all-articles {
        width: 45%;
        float: left;
        background: $lgrey;
        border-radius: 10px;
        margin-right: 3%;
        padding: 2em 0;

        .head {
            padding-bottom: 1.6em;
            border-bottom: 1px solid #000;

            a {
                font-size: 16px;
                font-weight: bolder;
                margin: 0 10px;
            }

            a:not(.active) {
                color: grey;
            }

            h2 {
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                padding-left: 2em;
            }
        }
        // END OF HEAD

        article {
            padding: 1em 2em;

            &:first-child {
              padding-top: 1.4em;
            }

            h3 {
                margin-bottom: 0.4em;
            }

            &:hover {
                background: grey;

                .actions {
                  display: inline-block;
                }
            }

            & > div {
                display: inline-block;

                &.actions {
                  display: none;
                    margin-left: 6em;
                }
            }

            .actions a,
            span {
                font-size: 14px;
            }
        }
        // END OF ARTICLE
    }

    .stats {
        width: 52%;
        float: right;

        .quick-stats {
            & > div {
                background: $lgrey;
                width: 31%;
                margin-right: 3%;
                float: left;
                padding: 1.7em .8em;

                &:last-child {
                    margin-right: 0;
                }
            }

            .head {
              margin-bottom: 1em;

              h3 {
                font-weight: bolder;
                text-transform: uppercase;
                font-size: 15px;
              }

              span.last-date {
                font-size: .8em;
              }
            }

            .nb {
              font-size: 3.8em;
              font-weight: bolder;
            }
        }

        .tab {
            clear: both;
            float: none;
            width: 100%;
            padding-top: 3em;
            @include clearfix;

            h2 {
              font-size: 1.5em;
              display: inline-block;
              margin-bottom: 1.8em;
              padding-top: .2em;
            }

            select {
              float: right;
              border-radius: 0;
              padding: .6em 1.3em;
            }

            .stats-frame {
              padding: 3em;
              background: $lgrey;

            }
        }
    }
}
