#admin-volunteers {
    width: $adminMainWidth;
    margin: 0 auto;
    @include clearfix;

    .head-all-articles {
      float: left;
    }

    .order-by label {
      padding-right: 1em;
    }

    .all-volunteers {
      clear: both;
        .volunteer > a {
            display: block;
            @include clearfix;
        }

        .volunteer {
            background: red;
            width: 100%;
            padding: 1.7em 4em;
            background: #fff;
            border-radius: 30px;
            margin-bottom: 2em;

            div {
                display: inline-block;
                vertical-align: middle;
                margin-right: 2em;

            } // END OF DIV

            h3 {
                font-weight: bolder;
                font-size: 1.2em;
            }

            .volunteer-status {
                @include ctbtn($lorange);
                background: $lorange;
                padding: 0 2em;
                color: $orange;
                font-weight: bold;
            }

            .function-status {
                @include ctbtn($ldgrey);
                padding: 0 2em;

                span { font-weight: bolder; }
            }

            .infos {
                padding-left: .7em;
                width: 25%;
            }
        }

        & > div:hover {
            // background: rgba(0,0,0,.2);
        }

        .profile-pic {

            width: 10%;

            span {
              display: block;
                width: 100px;
                height: 100px;
                border-radius: 100px;
                background: green;
            }
        }
    }
}
