#intro {
  padding: 10em 0 6em 0;
  background: $lgrey;

  img {
    display: block;
    width: $headerWidth;
    margin: 0 auto;
  }

  h2 {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;

    span.bolder {
      font-size: inherit;
      font-weight: bolder;
    }
  }
}

#last-news {
  background: $yellow;
  padding: 5em 0;
  color: #fff;

  & > .inner {
    width: $headerWidth;
    margin: 0 auto;
  }

  h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .all-articles {
    @include clearfix;
  }

  article {
    float: left;
    position: relative;
    overflow: hidden;
    width: 31%;
    margin-right: 3%;
    padding: 2em 0;
    border-radius: 5px;
    background: #fff;
    color: #000;
    box-shadow: -2px 2px 7px rgba(0,0,0,.13);
    transition: .4s ease-out;

    @media screen and (max-width: 880px) {
      width: 43%;
      margin: 3% 3%;
    }

    @media screen and (max-width: 580px) {
      width: 100%;
      margin: 3% 0;
    }

    &:last-child {
      margin-right: 0;
    }

    img.thumbnail {
      position: absolute;
      top: -25%;
      left: -50%;
      opacity: 0;
      z-index: 33;
    }

    &:hover {
      background: #000;
      color: #fff;
      transition: .2s ease-in;
    }

    &:hover img.thumbnail {
      opacity: .5;
    }

    .top-article {
      position: relative;
      z-index: 44;
      border-bottom: 2px solid rgba(34, 30, 34, .1);

      .inner {
        padding: 1em 2em;
      }
    }

    &:hover .top-article {
      border: none;
    }

    .category {
      background: $yellow;
      color: #fff;
      padding: .4em 1em;
      border-radius: 100px;
    }

    h3 {
      font-family: $Fira;
      margin: 1em 0 .7em 0;
      font-size: 1.6em;
      font-weight: 500;
    }

    .content {
      position: relative;
      z-index: 44;
      padding: 2em 2em 1em 2em;
    }

    p {
      font-size: 16px;
    }

    a.read-more {
      display: block;
      margin-top: 1em;
      font-weight: bold;
      text-transform: uppercase;
    }

    &:hover a.read-more {
      color: #fff;
    }
  }
}

#know-more {
  width: $headerWidth;
  margin: 4em auto;
  @include clearfix;

  .one-fact {
    float: left;
    width: 31%;
    margin-right: 3%;
    text-align: center;

    @media screen and (max-width: 880px) {
      width: 50%;
      margin: 3% 0;
    }

    @media screen and (max-width: 580px) {
      width: 100%;
      margin: 3% 0;
    }


    &:last-child {
      margin-right: 0;
    }

    h3 {
      font-weight: bold;
      font-size: 1.4em;
    }

    img {
      display: block;
      width: 30%;
      margin: 0 auto 2em auto;
    }

    p {
      width: 70%;
      margin: 1em auto;
    }

    .jt-cta {
        background: $yellow;
        width: 210px;
        border-radius: 23px;
        padding: 2%;
        display: block;
        margin: 0 auto;
    }
  }
}
    #footer {
        .information {
        background: $yellow;
        @include clearfix;
        }


        .logo-footer {
            width: 30%;
            float: left;

            @media screen and (max-width: 580px) {
              float: none;
              display: block;
              margin: 10% auto;
              padding-top: 10%;
            }

            img {
                display: block;
                margin: 10% auto;
            }
        }

        .resume-footer {
            @include clearfix;
            width: 70%;
            margin: 2% auto;
            float: right;
            background: $yellow;

            div {
                width: 23%;
                float: left;
                @media screen and (max-width: 880px) {
                  width: 50%;
                  margin: 2% auto;
                }

                @media screen and (max-width: 580px) {
                  width: 100%;
                }
            }

            a {
                line-height: 2em;
                color: #000;
            }

            a:hover {
                color: #fff;
            }
        }

        .legal-footer {
            background: #fff;
            margin: 3% auto;


            ul {
                text-align: center;
                width: 100%;
            }

            li {
                font-size: 14px;
                font-weight: bold;
                display: inline-block;
                margin: 0 2%;

                @media screen and (max-width: 580px) {
                  width: 100%;
                }
            }

            a {
                font-size: 14px;
                font-weight: bold;
            }

            b {
                font-size: 14px;
                color: #000;
            }
        }
    }
