#intro {
    position: relative;
    margin-top: -3em;

    @media screen and (max-width: $tablet) {
        margin-top: 0;
        padding-top: 4em;
    }

    img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    h2 {
        position: absolute;
        right: 0;
        width: 40%;
        bottom: 4em;
        margin: 0 auto;
        text-align: right;
        font-size: 1.5em;
        background: $pink;
        padding: 2em 5% 2em 4em;
        color: #fff;
        @media screen and (max-width: $btablet) {
            bottom: -1em;
            width: 55%;
            font-size: 1.3em;
        }
        @media screen and (max-width: $tablet) {
            position: relative;
            width: 80%;
            z-index: 77;
            font-size: 1.1em;
            margin: -3em auto 0 auto;
        }

        span.bolder {
            font-size: inherit;
            font-weight: bolder;
        }
    }

    .social-network {
        bottom: 2em;
        left: 5%;
        position: absolute;
        width: $headerWidth;
        margin: 4em auto 0;
        @media screen and (max-width: $tablet) {
            display: none;
        }

        li {
            display: inline-block;
            margin: 0 1%;
        }
    }
}

#last-news {
    background: #fff;
    padding: 10em 0 6em 0;
    color: #000;


    & > .inner {
        position: relative;
        width: $headerWidth;
        margin: 0 auto;
    }

    span.bg-text {
        position: absolute;
        top: -.5em;
        font-size: 8em;
        font-weight: bold;
        color: #f8f8f8;
        z-index: 33;
    }

    h2 {
        position: relative;
        z-index: 44;
        display: inline-block;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .all-articles {
        @include clearfix;
        position: relative;
        z-index: 33;
    }

    article {
        float: left;
        position: relative;
        overflow: hidden;
        width: 31%;
        margin-right: 3%;
        padding: 0 0 2em;
        border-radius: 5px;
        background: #fff;
        color: #000;
        box-shadow: -2px 2px 7px rgba(0,0,0,.13);
        transition: 0.4s ease-out;

        &:nth-child(3) {
            margin: 0;
        }
        @media screen and (max-width: $tablet) {
            width: 43%;
            margin: 3%;
        }
        @media screen and (max-width: $mobile) {
            width: 100%;
            margin: 3% 0;
        }

        &:last-child {
            margin-right: 0;
        }

        figure {
            width: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.54), rgba(255, 255, 255, 0.18));

            img {
                width: 100%;
                max-width: 100%;
                opacity: 0.8;
            }
        }
        // THE TOP OF THE ARTICLE
        .top-article {
            position: relative;
            z-index: 44;

            .inner {
                padding: 1em 2em;
            }
        }

        .category {
            position: absolute;
            z-index: 55;
            top: 1em;
            left: -.5em;
            display: block;
            text-align: center;
            background: $pink;
            width: 180px;
            color: #fff;
            padding: 0.4em 2em;
            cursor: pointer;
        }

        h3 {
            margin: 0.7em 0;
            font-size: 1.6em;
            font-weight: 500;
        }

        p {
            padding: 0 2em;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 1em;
        }

        .read-more {
            padding-left: 2em;

            a {
                display: inline-block;
                margin-top: 1em;
                font-weight: bold;
                text-transform: uppercase;
            }

            img {
                width: 20px;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        padding-top: 7em;

        span.bg-text {
            font-size: 5em;
            left: -5%;
        }

        article {
            margin-bottom: 4em;
        }
    }
    // END OF ARTICLE

    span.cta.more {
        display: block;
        clear: both;
        float: right;
        margin-top: 3em;
        border: 1.7px solid $dblue;
        font-weight: bolder;
    }
}

#know-more {
    margin: 2em 0;
    @include clearfix;

    .one-fact {
        float: left;
        width: 33.3333%;
        height: 95vh;
        padding: 5em 1em;
        text-align: center;
        position: relative;
        background: $lgrey;
        @media screen and (max-width: $tablet) {
            width: 50%;
            margin: 3% 0;
        }
        @media screen and (max-width: $tablet) {
            width: 100%;
            margin: 3% 0;
        }

        &:nth-child(2) {
            background: $dblue;
            color: #fff;
        }
        //
        // &:nth-child(3) {
        //
        //     @media screen and (max-width: $mobile) {
        //       display: none;
        //     }
        // }
        h3 {
            font-size: 1.4em;
            margin: 2em 0 1em;
            font-weight: bold;
        }

        img {
            display: block;
            width: 30%;
            margin: 0 auto 2em;
        }

        p {
            width: 70%;
            margin: 1em auto;
            line-height: 1.4;
        }

        .jt-cta {
            background: $pink;
            color: #fff;
            width: 210px;
            border-radius: 23px;
            padding: 0.6em 2.3em;
            display: block;
            margin: 0 auto 20%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

#act {
    width: $headerWidth;
    margin: 0 auto;
    padding: 10% 0 3% 0;

    ul {
        padding: 0;
    }

    li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 0 3% 2em 0;
        padding: 2em 0 3em 0;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.03);
        transition: .3s ease-out;

        @media screen and (max-width: $tablet) {
            width: 48%;
        }
        @media screen and (max-width: $mobile) {
            width: 100%;
        }

        &:nth-child(3) {
            margin-right: 0;
        }

        &:first-child span {
            margin-top: 1.6em;
        }

        &:hover {
            transform: translateY(-8%);
            transition: .2s ease-in;
        }
    }

    article {
        position: relative;
        text-align: center;
        padding-top: 2em;
    }

    .content-act {
        height: 50vh;
        position: relative;

        @media screen and (max-width: $tablet) {
            height: 45vh;
        }
        @media screen and (max-width: $mobile) {
            height: 50vh;
        }
    }

    figure {
        width: 100%;

        img {
            width: 100%;
        }
    }

    h3 {
        font-size: 2em;
        font-weight: bold;
        padding: 5% 0;
        @media screen and (max-width: 1200px) {
            font-size: 1.9em;
        }
        @media screen and (max-width: 1200px) {
            font-size: 1.8em;
        }
        @media screen and (max-width: 960px) {
            font-size: 1.7em;
        }
    }

    p {
        font-size: 1.2em;
        font-weight: bolder;
        padding: 0 2em;
        @media screen and (max-width: 1200px) {
            font-size: 1.4em;
        }
        @media screen and (max-width: 1050px) {
            font-size: 1.3em;
        }
        @media screen and (max-width: 960px) {
            font-size: 1.2em;
        }
    }

    .more-act {
        position: absolute;
        bottom: 0;
        left: 40%;
        cursor: pointer;

        span {
            display: block;
            background: $lgrey;
            font-size: 2.5em;
            line-height: 1.6;
            text-align: center;
            width: 70px;
            height: 70px;
            margin: 1em auto 0 auto;
            border-radius: 100px;
        }
    }
}

#newsletter-home {
    background: $dblue;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    @include clearfix;

    h3 {
        text-align: center;
        font-weight: bold;
        font-size: 35px;
    }

    p {
        font-size: inherit;
        text-align: center;
        margin-bottom: 0.2em;
    }

    div {
        padding: 2%;

        #newsletter {
            position: absolute;
            text-align: left;
            width: 320px;
            padding: 10px 46px;
            border-radius: 23px;
            border: 1px solid #fff;
            background: #fff;
        }

        #validation {
            position: relative;
            border-radius: 23px;
            border: none;
            background: $lgrey;
            margin-left: 245px;
            padding: 11px 53px;
            font-weight: bold;
        }
        @media screen and (max-width: $mobile) {
            #newsletter {
                width: 300px;
            }

            #validation {
                padding: 11px 25px;
            }
        }

        .input-group-addo {
            position: absolute;
        }

        .fa-envelope {
            background: url('../img-layout/mail.svg') no-repeat center center;
            position: absolute;
        }
    }
}
