#legals {

    main {
        padding: 9em 0 5em 0;
        width: $headerWidth;
        margin: 0 auto;
        @include clearfix;
    }

    h2 {
        float: left;
        margin: 1em auto;
        font-size: 2.4em;
        font-weight: bolder;
    }

    .breadcrumb {
        float: right;
        line-height: 8;
    }

    h3 {
        font-size: 1.3em;
    }

    .container {
        clear: both;
        background: $lmgrey;
        padding: 2%;
    }
}
