#actions {
  main {
      padding-bottom: 10em;
    .accueil-actions {
        height: 100vh;
        width: 100%;
        position: relative;

        img {
            width: 100%;
        }

        .content-accueil-actions {
            position: absolute;
            top: 13em;
            right: 6em;
            text-align: right;
            color: #fff;
            margin: 1% 0;
            color: #fff;
            border-right: 16px solid #fc1053;

            h2 {
                font-size: 1.6em;
                font-weight: bold;
                padding: 1% 3%;
            }

            p {
                font-size: 1.3em;
                padding: 1% 3%;
            }
        }
    }

    .tpc {
        position: relative;
        .wrapper {
          padding-bottom: 9em;

        }//END WRAPPER ACTIONS
    }

    .past-project {
        width: 55%;
        margin: 0 auto;
        margin-top: 3em;
        padding-bottom: 2em;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
        @include clearfix;

        .wrapper {
            width: 100%;

            figure {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .content {
            width: 80%;
            float: right;

                h4 {
                    color: $pink;
                    font-size: 1.3em;
                    font-weight: initial;
                    padding: 2% 0;
                }

                p {
                    font-weight: bold;
                    padding: 0 6% 3% 1%;

                }

            }

            .socials {
                width: 15%;
                float: left;
                padding-top: 3em;

                ul {
                    width: 85px;
                    background: #FAFAFA;
                    border: 1px solid #d9d9d9;

                     li {
                         width: 100%;
                        display: block;
                        height: 65px;
                        text-align: center;
                        border-bottom: 1px solid #d9d9d9;
                        cursor: pointer;
                     }
                }
            }
        }
    }

    .actual-project {
        width: 70%;
        margin: 0 auto;
        padding-top: 3em;

        h3 {
            clear: both;
        }

        .content-actual-project {
            ul { @include clearfix;}
            li {
                width: 48%;
                float: left;
                margin: 0 1%;
                padding: 1% 0;

                article {
                    width: 100%;
                    background: $pink;
                    color: #fff;
                    padding: 12% 10%;

                        h5 {
                            font-weight: bold;
                        }
                }

                figure {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

    }

    .context {
        width: 70%;
        margin: 0 auto;
        padding-top: 4%;
        @include clearfix;

        &:first-child {
            float: left;
        }

        &:nth-child(2) {
            float: right;
        }

        .context-text {
            width: 45%;
            margin-right: 2%;
            float: left;

            &:last-child {
                margin-left: 2%;
            }

            p {
                padding: 2% 0;
            }

            h5 {
                padding: 1% 0;
            }

            div {
                width: 100%;
                padding: 3% 0;

                img {
                    width: 100%;
                }
            }
        }
    }

    //GENERAL
    h3 {
        font-weight: bold;
        font-size: 1.3em;
        padding: 2% 0;
    }

    h4 {
    font-weight: bold;
    font-size: 1.1em;
    }

    .color-text {
        color: $pink;
        font-weight: bold;

        &:last-child {
            font-weight: initial;
        }
    }

    .title-actions {
         color: $pink;
         font-weight: bolder;
         font-size: 1.1em;
         margin-bottom: .7em;
      }
  } //END MAIN
}//END #ACTIONS
