#ournews {
    #filter-news {
        padding-top: 13%;
        padding-bottom: 2%;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.12);
        @media screen and (max-width: 1230px) {
            padding-top: 12%;
        }
        @media screen and (max-width: 1080px) {
            padding-top: 14%;
        }
        @media screen and (max-width: $tablet) {
            padding-top: 18%;
            box-shadow: none;
        }

        .inner-filter-news {
            width: $headerWidth;
            margin: 0 auto;

            h2 {
                font-size: 1.5em;
                font-weight: bold;
                display: inline-block;
                @media screen and (max-width: $tablet) {
                    display: block;
                    text-align: center;
                }
            }

            .order-by {
                float: right;
                @media screen and (max-width: $tablet) {
                    display: none;
                }

                label {
                    font-weight: bold;
                }

                select {
                    -webkit-appearance: none;
                    padding: 0.4em 1em;
                    background: #fff;
                    border-radius: 23px;
                    width: 133px;
                    border: 1px solid #000;
                }
            }

            .manage-category-mobile {
                display: none;
                @media screen and (max-width: $tablet) {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    padding-top: 1em;
                }
            }
        }
    }

    #all-news {
        width: $headerWidth;
        margin: 0 auto;
        padding-top: 4%;

        #filter-categories {
            width: 20%;
            border-right: 1px dashed #000;
            padding-top: 3%;
            float: left;
            @media screen and (max-width: $tablet) {
                display: none;
            }

            h3 {
                font-size: 1.1em;
                font-weight: bold;
                border-bottom: 1px solid #000;
                display: inline-block;
                padding-bottom: 3px;
                margin-bottom: 5%;
            }

            li {
                border: 1px solid #fc1053;
                padding: 4% 6%;
                margin: 5% 0;
                border-radius: 7px;
                text-transform: capitalize;
                width: 140px;
                text-align: center;
                cursor: pointer;
                color: $pink;
                transition: .3s ease-out;

                &.active {
                    background: $pink;
                    color: #fff;
                }

                &:hover {
                    background: $pink;
                    color: #fff;
                    transition: .2s ease-in;
                }
            }
        }

        #container-news {
            float: right;
            width: 75%;
            @media screen and (max-width: $tablet) {
                display: block;
                float: none;
                margin: 0 auto;
                width: 90%;
                padding-top: 1.1em;
            }
            @media screen and (max-width: $mobile) {
                padding-top: 2em;
            }

            article {
                box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.12);
                position: relative;
                height: 260px;
                margin: 5% 0;
                border-radius: 4px;
                overflow: hidden;
                @include clearfix;
                transition: .3s ease-out;
                @media screen and (max-width: 1080px) {
                    height: auto;
                }
            &:hover {
                box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.12);
                transition: .2s ease-in;
            }
                .category {
                    position: absolute;
                    z-index: 55;
                    top: 1em;
                    left: -.5em;
                    display: block;
                    text-align: center;
                    background: #fc1053;
                    width: 160px;
                    color: #fff;
                    padding: 0.6em 2em;
                    border-radius: 4px;
                }

                .date {
                    position: absolute;
                    z-index: 56;
                    right: 29em;
                    top: 1.3em;
                    left: 11em;
                    display: block;
                    text-align: center;
                    width: 300px;
                    color: #fff;
                    padding: 0.4em 2em;
                    @media screen and (max-width: 1370px) {
                        left: 10em;
                    }
                    @media screen and (max-width: 1300px) {
                        left: 8em;
                    }
                    @media screen and (max-width: 1210px) {
                        left: 7em;
                    }
                    @media screen and (max-width: 1170px) {
                        left: 6em;
                    }
                    @media screen and (max-width: 1080px) {
                        left: 27em;
                    }
                    @media screen and (max-width: 1025px) {
                        left: 26em;
                    }
                    @media screen and (max-width: 1000px) {
                        left: 24em;
                    }
                    @media screen and (max-width: 945px) {
                        left: 22em;
                    }
                    @media screen and (max-width: 900px) {
                        left: 21em;
                    }
                    @media screen and (max-width: $tablet) {
                        left: 26em;
                    }
                    @media screen and (max-width: 84px) {
                        left: 24em;
                    }
                    @media screen and (max-width: 720px) {
                        left: 18em;
                    }
                    @media screen and (max-width: 670px) {
                        left: 16em;
                    }
                    @media screen and (max-width: 625px) {
                        left: 14em;
                    }
                    @media screen and (max-width: 580px) {
                        left: 12em;
                    }
                    @media screen and (max-width: 535px) {
                        left: 10em;
                    }
                    @media screen and (max-width: 500px) {
                        left: 8em;
                    }
                    @media screen and (max-width: 460px) {
                        left: 6em;
                    }
                }

                figure {
                    position: relative;
                    width: 45%;
                    float: left;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.54), rgba(255, 255, 255, 0.18));
                    @media screen and (max-width: 1080px) {
                        width: 100%;
                        float: none;
                        margin: 0 auto;
                    }

                    img {
                        width: 100%;
                    }
                }

                .text-news {
                    width: 50%;
                    float: right;
                    @media screen and (max-width: 1080px) {
                        width: 100%;
                        float: none;
                        margin: 4%;
                        clear: left;
                    }

                    .top-article {
                        .inner {
                            padding-top: 2em;
                            font-weight: bold;
                            font-size: 0.8em;
                            @media screen and (max-width: 1080px) {
                                padding: 4% 0;
                            }
                        }

                        h3 {
                            padding: 1em 0;
                        }
                    }

                    .content {
                        width: 90%;
                        p {
                            line-height: 1.5;
                        }

                    }

                    .read-more {
                        padding: 1% 0;
                        display: inline-block;
                        margin-top: 1em;
                        font-weight: bold;
                        text-transform: uppercase;

                        img {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }

    .pagination {
        display: block;
        margin-top: 2em;
        margin-bottom: 4em;
        text-align: center;
        clear: both;
        float: right;
        @media screen and (max-width: $tablet) {
            float: none;
            margin: 0 auto;
            padding-top: 4%;
            padding-bottom: 6%;
        }

        .arrow {
            font-weight: bold;
            background: $mgrey;
            padding: 0.5em 0.8em;
            border-radius: 4px;
            margin: 0 3px;
        }

        span {
            cursor: pointer;
        }

        span:not(.arrow) {
            cursor: pointer;
            margin: 0 10px;
        }
    }
}
