#actions {
  main {
      padding-bottom: 10em;
    .accueil-actions {
        height: 100vh;
        width: 100%;
        position: relative;

        img {
            width: 100%;
        }

        .content-accueil-actions {
            position: absolute;
            top: 13em;
            right: 6em;
            text-align: right;
            color: #fff;
            margin: 1% 0;
            color: #fff;
            border-right: 16px solid #fc1053;

            h2 {
                font-size: 1.6em;
                font-weight: bold;
                padding: 1% 3%;
            }

            p {
                font-size: 1.3em;
                padding: 1% 3%;
            }
        }
    }

    .tpc {
        position: relative;
        .wrapper {
          padding-bottom: 9em;

        }//END WRAPPER ACTIONS
    }

    // .past-projet {
    //     h3 {
    //         .container-past-project {
    //             .content-past-project {
    //                 floa
    //             }
    //         }
    //     }
    // }

    .actual-project {
        width: 70%;
        margin: 0 auto;

        .content-actual-project {
            ul { @include clearfix;}
            li {
                width: 48%;
                float: left;
                margin: 0 1%;
                padding: 1% 0;

                article {
                    width: 100%;
                    background: $pink;
                    color: #fff;
                    padding: 12% 10%;

                        h5 {
                            font-weight: bold;
                        }
                }
            }
        }

    }

    .context {
        width: 70%;
        margin: 0 auto;
        padding-top: 10%;
        @include clearfix;

        &:first-child {
            float: left;
        }

        &:nth-child(2) {
            float: right;
        }

        .context-text {
            width: 45%;
            margin-right: 2%;
            float: left;

            &:last-child {
                margin-left: 2%;
            }

            p {
                padding: 2% 0;
            }

            h5 {
                padding: 1% 0;
            }

            div {
                width: 100%;
                padding: 3% 0;

                img {
                    width: 100%;
                }
            }
        }
    }

    //GENERAL
    h3 {
        font-weight: bold;
        font-size: 1.3em;
        padding: 2% 0;
        background: pink;
    }

    h4 {
    font-weight: bold;
    font-size: 1.1em;
    }

    .color-text {
        color: $pink;
        font-weight: bold;

        &:last-child {
            font-weight: initial;
        }
    }

    .title-actions {
         color: $pink;
         font-weight: bolder;
         font-size: 1.1em;
         margin-bottom: .7em;
      }
  } //END MAIN
}//END #ACTIONS
