#single {
    main {
        background: $lgrey;
        padding-top: 8em;
        padding-bottom: 3em;
    }

    .breadcrumb {
        background: #fff;
        padding: 2em 0;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.12);

        .inner {
            width: $headerWidth;
            margin: 0 auto;
        }

        a, span {
            margin-right: 1em;
        }

        a:last-child {
            font-weight: bolder;
        }
    }

    .headings {
        width: $headerWidth;
        margin: 3em auto 4em auto;
        @include clearfix;

        .cat {
            display: block;
            float: left;
            background: $orange;
            color: #fff;
            border-radius: 5px;
            padding: 1em 2.5em;
            cursor: pointer;
            text-align: center;
            font-weight: bolder;
        }

        .tags {
            float: right;
            padding-top: 1em;
        }

        .tag {
            vertical-align: middle;
            border: 1px solid $dblue;
            color: $dblue;
            padding: .8em 2em;
            margin: 0 1em;
            border-radius: 100px;
            cursor: pointer;
            transition: .3s ease-out;

            &:hover {
                background: $dblue;
                color: #fff;
                transition: .2s ease-in;
            }

            @media screen and (max-width: $tablet) {
                padding: .5em 2em;
                display: block;
            }
        }

        @media screen and (max-width: $tablet) {

            .cat {
                float: none;
                margin-bottom: 1em;
            }
            .tags {
                clear: both;
                float: none;
            }
            .tag {
                padding: .5em 2em;
                display: block;
                margin-bottom: 1em;

                &:hover {
                    background: initial;
                    color: initial;
                }
            }
        }
    }

    main > article {
        width: $headerWidth;
        margin: 2em auto 8em auto;
        background: #fff;
        padding-bottom: 7em;

        @media screen and (max-width: $tablet) {
            padding-bottom: 4em;
        }

        img {
            max-width: 100%;
            width: 100%;
        }

        .wrapper {
            width: 80%;
            margin: 0 auto;
            @include clearfix;
            padding-top: 8em;

            @media screen and (max-width: $tablet) {
                padding: 0em;
            }
        }

        .head {
            width: 60%;
            margin: -10em 0 0 10%;
            color: #fff;

            @media screen and (max-width: $tablet) {
                width: 80%;
                margin: 2em auto;
                color: #000;
            }
        }

        h2 {
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: .3em;

            @media screen and (max-width: $tablet) {
                font-size: 1.5em;
            }
        }

        .socials {
            width: 30%;
            float: left;

            ul {
                width: 85px;
                background: $lgrey;
                border: 1px solid $ldgrey;

                li {
                    width: 100%;
                    display: block;
                    height: 65px;
                    text-align: center;
                    border-bottom: 1px solid $ldgrey;
                    cursor: pointer;

                    &:last-child {
                        border: 0;
                    }

                    &:hover {
                        background: $ldgrey;
                    }
                }
            }
        }

        .content {
            width: 70%;
            float: right;

            p {
                width: 80%;
                line-height: 1.5;
                margin-bottom: 1em;

                @media screen and (max-width: $tablet) {
                    width: 100%;
                }
            }
        }

        @media screen and (max-width: $tablet) {
            .socials, .content {
                width: 100%;
            }

            .content {
                margin-bottom: 2em;
            }

            .socials ul {
                width: 262px;
                font-size: 0;

                li {
                    font-size: initial;
                    display: inline-block;
                    width: 65px;
                    height: 65px;
                    border: none;
                    border-right: 1px solid $ldgrey;

                }
            }
        }
    }


    .other-articles {
        width: $headerWidth;
        margin: 2em auto 5em auto;
        clear: both;

        h3 {
            font-weight: bold;
            display: inline-block;
            font-size: 1.5em;
        }

        .container {
            margin-top: 2em;
            @include clearfix;
        }

        article {
            width: 31%;
            float: left;
            margin-right: 3%;
            background: #fff;
            border-radius: 5.4px;
            padding: 2em 2.5em 3em 2.5em;
            &:last-child {
                margin: 0;
            }

            @media screen and (max-width: $tablet) {
                width: 100%;
                float: none;
                margin: 0 0 2em 0;
            }
        }

        .head {
            @include clearfix;
            margin-bottom: 2em;

            p {
                text-align: right;
                padding: .8em 0;
            }
            @media screen and (max-width: $tablet) {
                margin-bottom: 3em;
            }
        }

        span.category {
            width: 50%;
            display: block;
            float: left;
            background: $orange;
            color: #fff;
            padding: .8em 0;;
            text-align: center;
            margin-left: -3em;
            font-weight: bolder;
        }

        h4 a {
            font-weight: bold;
            font-size: 1.3em;
        }

        p.content {
            margin: 2em 0;
            line-height: 1.4;
        }

        .next {
            text-transform: uppercase;
            font-weight: bolder;

        }

    }




}
