// FONTS VARIABLES

$Source: 'Source Serif Pro', sans-serif;
$Fira: 'Fira Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;

// COLORS VARIABLES

$yellow: #FFD52B;

$lgrey: #FAFAFA;

// WIDTHS VARIABLES

$headerWidth: 90%;
$adminMainWidth: 85%;

//bolder

b {
font-weight: bold;
}

span.return {
  display: block;
}


// IMPORTING FILES

@import "partials/clearfix";
@import "partials/fonts";
@import "partials/reset";
@import "partials/ctas";

@import "partials/header";
@import "index";
@import "aboutus";
@import "ouractions";
@import "ournews";
@import "supportus";
@import "contact";

@import "partials/headeradmin";
@import "partials/asideadmin";
@import "adminhome";
@import "adminarticles";

@import "partials/footer";
