// FONTS VARIABLES

$Roboto: 'Roboto', sans-serif;

// COLORS VARIABLES

$yellow: #FFD52B;
$lorange: #fdeed8;
$orange: #ff9806;
$green: #87d036;
$pink: #fc1053;
$dblue: #000022;

$lgrey: #FAFAFA;
$lmgrey: #fcfcfc;
$mgrey: #f7f7f7;
$ldgrey: #d9d9d9;

// WIDTHS VARIABLES

$headerWidth: 90%;
$adminMainWidth: 90%;
$adminRWD: 95%;

// RESPONSIVE VARIABLES

$btablet: 1180px;
$tablet: 880px;
$mobile: 580px;

//bolder

b {
font-weight: bolder;
}

.return {
  display: block;
}

.contact-page {
    color: $orange;
}

@mixin ctbtn($color) {
  position: relative;
  border-radius: 5px;
  border: 1px solid $color;
  padding: 0 1em;
  height: 40px;
  line-height: 2.3;
}


// IMPORTING FILES

@import "partials/clearfix";
@import "partials/fonts";
@import "partials/reset";
@import "partials/ctas";

@import "partials/header";
@import "partials/publicelements";
@import "index";
@import "aboutus";
@import "ouractions";
@import "ournews";
@import "single";
@import "supportus";
@import "login";
@import "partials/contact";
@import "legals";

@import "partials/headeradmin";
@import "partials/asideadmin";
@import "partials/adminelements";

@import "adminhome";
@import "adminnewarticle";
@import "adminarticles";
@import "partials/popupdelete";
@import "adminvolunteers";
@import "adminnewvolunteer";
@import "adminmail";
@import "adminpartners";
@import "adminnewpartner";
@import "adminnewmessage";

@import "partials/footer";
