#admin-aside {
  width: 15%;
  float: left;
  height: 87vh;

  li.active {
    position: relative;
    font-weight: bold;

    a { color: $orange; }

    &::before {
      position: absolute;
      content: '';
      width: 9px;
      height: 100%;
      background: $orange;
      left: 0;
    }

    @media screen and (max-width: $tablet) {
      background: none;
      &::before {
        display: none;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    display: none;
  }

  li {
    transition: .4s ease-out;
    border-right: $mgrey;
  }

  a {
    display: block;
    padding: 1.5em 2em;
    border-bottom: 1px solid $mgrey;
  }

  @media screen and (max-width: $tablet) {
    z-index: 666;
    position: absolute;
    background: #fff;
    width: 100%;
    border-right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    padding-top: 10em;
    text-align: center;

    a {
      font-size: 1.5em;
    }

    li:first-child {
      border-top: 1px solid #000;
    }

    li:hover {
      background: initial;
    }
  }
}
