body[id*="admin-"] {
  position: relative;

  header {
    @include clearfix;
    padding: 2.5em 0;
    border-bottom: 1px solid #000;

    .inner {
      width: $headerWidth;
      margin: 0 auto;
      @include clearfix;
    }

    @media scren and (max-width: $tablet) {
      position: absolute;
      width: $adminRWD;
      height: 100vh;
      background: red;
    }

    #bm {
      position: relative;
      width: 30px;
      display: none;

      span {
        position: absolute;
        background: red;
        width: 100%;
        height: 3px;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: 8px;
        }

        &:last-child {
          top: 17px;
        }
      }
    }
  }

  // CTAS AND ICON ACTION
  #admin-actions {
    float: right;
    @include clearfix;

    @media screen and (max-width: $tablet) {
      left: 0;
      top: 15%;
      width: 100%;
      float: none;
      z-index: 777;
      padding-top: 5em;
    }

    // CTAS AND ICON ACTION
    & > div {
      float: left;
    }

    .cta {
      border: 1px solid #000;
      margin: 0 .5em;
    }

    @media screen and (max-width: $tablet) {
      & > div {
        float: none;
        display: none;
      }

      .ctas {
        display: block;
        width: 100%;
        background: #fff;

        .cta {
          display: block;
          width: 100%;
          border: 0;
          margin: 0;
          padding: 2em;
        }
      }
    }

    .icon-action {
      @include clearfix;

      & > div {
        float: left;
        position: relative;
      }

      & > div:hover > div[class*="my-"] {
        opacity: 1;
        transition: .4s ease-in;
      }

      div > span {
        display: block;
        position: relative;
        float: left;
        margin-right: .4em;
        cursor: pointer;
        font-size: 1.8em;
        line-height: .8;
      }

      div > div[class*="my-"] {
        overflow: hidden;
        position: absolute;
        z-index: 666;
        background: $lgrey;
        width: 200px;
        top: 3em;
        left: -100%;
        padding: 1em;
        text-align: center;
        border: 1px solid #000;
        opacity: 0;
        transition: .3s ease-out;

        h3 {
          text-transform: uppercase;
          font-weight: bolder;
        }
      }

      span.push {
        position: absolute;
        top: 0;
        right: -10px;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 100%;
        background: red;
        color: #fff;
        line-height: initial;
      }
    }
  }
}
