/*
Error: Invalid CSS after "  cursor: pointer": expected "{", was ";"
        on line 5 of /Users/alisonsayarath/yalla/assets/sass/partials/_ctas.scss
        from line 29 of /Users/alisonsayarath/yalla/assets/sass/screen.scss

1: .cta {
2:   padding: .7em 2em;
3:   font-weight: 500;
4: <<<<<<< HEAD
5:   cursor: pointer;
6: =======
7:   border-radius: 23px;
8: >>>>>>> afef0e300af3fe6bc30ab04d26e85dbb46886155
9: 
10:   a {

.clearfix:after {
  clear: both; }

@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fontsSourceSerifPro-Semibold.eot");
  src: url("../fontsSourceSerifPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fontsSourceSerifPro-Semibold.woff") format("woff"), url("../fontsSourceSerifPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fontsSourceSerifPro-Bold.eot");
  src: url("../fontsSourceSerifPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fontsSourceSerifPro-Bold.woff") format("woff"), url("../fontsSourceSerifPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fontsSourceSerifPro-Regular.eot");
  src: url("../fontsSourceSerifPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fontsSourceSerifPro-Regular.woff") format("woff"), url("../fontsSourceSerifPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ExtraLight.eot");
  src: url("../fonts/FiraSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ExtraLight.woff") format("woff"), url("../fonts/FiraSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Thin.eot");
  src: url("../fonts/FiraSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Thin.woff") format("woff"), url("../fonts/FiraSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Black.eot");
  src: url("../fonts/FiraSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Black.woff") format("woff"), url("../fonts/FiraSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Medium.woff") format("woff"), url("../fonts/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ExtraLightItalic.eot");
  src: url("../fonts/FiraSans-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ExtraLightItalic.woff") format("woff"), url("../fonts/FiraSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Bold.eot");
  src: url("../fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-SemiBold.eot");
  src: url("../fonts/FiraSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-SemiBold.woff") format("woff"), url("../fonts/FiraSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-LightItalic.eot");
  src: url("../fonts/FiraSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-LightItalic.woff") format("woff"), url("../fonts/FiraSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Italic.eot");
  src: url("../fonts/FiraSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Italic.woff") format("woff"), url("../fonts/FiraSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ExtraBold.eot");
  src: url("../fonts/FiraSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ExtraBold.woff") format("woff"), url("../fonts/FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ExtraBoldItalic.eot");
  src: url("../fonts/FiraSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/FiraSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-BoldItalic.eot");
  src: url("../fonts/FiraSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-BoldItalic.woff") format("woff"), url("../fonts/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Light.eot");
  src: url("../fonts/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Light.woff") format("woff"), url("../fonts/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-SemiBoldItalic.eot");
  src: url("../fonts/FiraSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-SemiBoldItalic.woff") format("woff"), url("../fonts/FiraSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-MediumItalic.eot");
  src: url("../fonts/FiraSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-MediumItalic.woff") format("woff"), url("../fonts/FiraSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-BlackItalic.eot");
  src: url("../fonts/FiraSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-BlackItalic.woff") format("woff"), url("../fonts/FiraSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ThinItalic.eot");
  src: url("../fonts/FiraSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ThinItalic.woff") format("woff"), url("../fonts/FiraSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }

a, a:visited {
  text-decoration: none;
  color: initial; }

ul {
  list-style: none; }

.cta {
  padding: .7em 2em;
  font-weight: 500;
  border-radius: 23px; }
  .cta a {
    font-weight: 500; }
  .cta.cta-yellow {
    background: #FFD52B; }
    .cta.cta-yellow a {
      color: #fff; }

body:not([id*="admin-"]) header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 555;
  padding: 2em 0;
  background: #fff;
  transition: .4s ease-out; }
  @media screen and (max-width: 580px) {
    body:not([id*="admin-"]) header {
      padding-top: 0;
      padding-bottom: 3%; } }
  body:not([id*="admin-"]) header.active {
    top: -50%;
    transition: .6s ease-in; }
  body:not([id*="admin-"]) header .inner {
    width: 90%;
    margin: 0 auto; }
    body:not([id*="admin-"]) header .inner:after {
      content: "";
      display: table;
      clear: both; }
    body:not([id*="admin-"]) header .inner .logo-desktop {
      display: block; }
    @media screen and (max-width: 580px) {
      body:not([id*="admin-"]) header .inner .logo-desktop {
        display: none; } }
    body:not([id*="admin-"]) header .inner .logo-mobile {
      display: none;
      margin: 0 auto;
      width: 100px;
      height: auto; }
    @media screen and (max-width: 580px) {
      body:not([id*="admin-"]) header .inner .logo-mobile {
        display: block; } }
    body:not([id*="admin-"]) header .inner .menu-burger {
      display: none;
      position: absolute;
      top: 30px;
      left: 20px;
      width: 26px; }
      body:not([id*="admin-"]) header .inner .menu-burger span {
        position: absolute;
        width: 69%;
        height: 2px;
        background: #000; }
        body:not([id*="admin-"]) header .inner .menu-burger span:nth-child(2) {
          top: 7px;
          width: 100%; }
        body:not([id*="admin-"]) header .inner .menu-burger span:nth-child(3) {
          top: 14px;
          width: 69%; }
    body:not([id*="admin-"]) header .inner .share-header {
      display: none;
      position: absolute;
      width: 30px;
      height: auto;
      top: 30px;
      right: 20px; }
    @media screen and (max-width: 580px) {
      body:not([id*="admin-"]) header .inner .menu-burger, body:not([id*="admin-"]) header .inner .share-header {
        display: block; } }
  body:not([id*="admin-"]) header ul {
    font-size: 0; }
  body:not([id*="admin-"]) header li {
    font-size: initial;
    display: inline-block;
    padding: 0.3em 1em; }
    body:not([id*="admin-"]) header li.active a {
      padding-bottom: 0.8em;
      border-bottom: 3px solid #FFD52B; }

body:not([id*="admin-"]) h1 {
  float: left;
  padding-top: 0.7em; }
  @media screen and (max-width: 580px) {
    body:not([id*="admin-"]) h1 {
      float: none;
      width: 100px;
      margin: 0 auto; } }

body:not([id*="admin-"]) #inner-header {
  float: right; }
  body:not([id*="admin-"]) #inner-header #header-actions,
  body:not([id*="admin-"]) #inner-header nav {
    display: inline-block; }
  body:not([id*="admin-"]) #inner-header .cta {
    margin: 0 1.5em; }
  body:not([id*="admin-"]) #inner-header select {
    -webkit-appearance: none;
    border: 1px solid #FFD52B;
    background: transparent;
    padding: 0.7em 1em;
    border-radius: 100px; }
  @media screen and (max-width: 580px) {
    body:not([id*="admin-"]) #inner-header #header-actions, body:not([id*="admin-"]) #inner-header nav {
      display: none; } }

#intro {
  padding: 10em 0 6em 0;
  background: #FAFAFA; }
  #intro img {
    display: block;
    width: 90%;
    margin: 0 auto; }
  #intro h2 {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em; }
    #intro h2 span.bolder {
      font-size: inherit;
      font-weight: bolder; }

#last-news {
  background: #FFD52B;
  padding: 5em 0;
  color: #fff; }
  #last-news > .inner {
    width: 90%;
    margin: 0 auto; }
  #last-news h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em; }
  #last-news .all-articles:after {
    content: "";
    display: table;
    clear: both; }
  #last-news article {
    float: left;
    position: relative;
    overflow: hidden;
    width: 31%;
    margin-right: 3%;
    padding: 2em 0;
    border-radius: 5px;
    background: #fff;
    color: #000;
    box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.13);
    transition: .4s ease-out; }
    @media screen and (max-width: 880px) {
      #last-news article {
        width: 43%;
        margin: 3% 3%; } }
    @media screen and (max-width: 580px) {
      #last-news article {
        width: 100%;
        margin: 3% 0; } }
    #last-news article:last-child {
      margin-right: 0; }
    #last-news article img.thumbnail {
      position: absolute;
      top: -25%;
      left: -50%;
      opacity: 0;
      z-index: 33; }
    #last-news article:hover {
      background: #000;
      color: #fff;
      transition: .2s ease-in; }
    #last-news article:hover img.thumbnail {
      opacity: .5; }
    #last-news article .top-article {
      position: relative;
      z-index: 44;
      border-bottom: 2px solid rgba(34, 30, 34, 0.1); }
      #last-news article .top-article .inner {
        padding: 1em 2em; }
    #last-news article:hover .top-article {
      border: none; }
    #last-news article .category {
      background: #FFD52B;
      color: #fff;
      padding: .4em 1em;
      border-radius: 100px; }
    #last-news article h3 {
      font-family: "Fira Sans", sans-serif;
      margin: 1em 0 .7em 0;
      font-size: 1.6em;
      font-weight: 500; }
    #last-news article .content {
      position: relative;
      z-index: 44;
      padding: 2em 2em 1em 2em; }
    #last-news article p {
      font-size: 16px; }
    #last-news article a.read-more {
      display: block;
      margin-top: 1em;
      font-weight: bold;
      text-transform: uppercase; }
    #last-news article:hover a.read-more {
      color: #fff; }

#know-more {
  width: 90%;
  margin: 4em auto; }
  #know-more:after {
    content: "";
    display: table;
    clear: both; }
  #know-more .one-fact {
    float: left;
    width: 31%;
    margin-right: 3%;
    text-align: center; }
    @media screen and (max-width: 880px) {
      #know-more .one-fact {
        width: 50%;
        margin: 3% 0; } }
    @media screen and (max-width: 580px) {
      #know-more .one-fact {
        width: 100%;
        margin: 3% 0; } }
    #know-more .one-fact:last-child {
      margin-right: 0; }
    #know-more .one-fact h3 {
      font-weight: bold;
      font-size: 1.4em; }
    #know-more .one-fact img {
      display: block;
      width: 30%;
      margin: 0 auto 2em auto; }
    #know-more .one-fact p {
      width: 70%;
      margin: 1em auto; }
    #know-more .one-fact .jt-cta {
      background: #FFD52B;
      width: 210px;
      border-radius: 23px;
      padding: 2%;
      display: block;
      margin: 0 auto; }

#footer .information {
  background: #FFD52B; }
  #footer .information:after {
    content: "";
    display: table;
    clear: both; }
#footer .logo-footer {
  width: 30%;
  float: left; }
  @media screen and (max-width: 580px) {
    #footer .logo-footer {
      float: none;
      display: block;
      margin: 10% auto;
      padding-top: 10%; } }
  #footer .logo-footer img {
    display: block;
    margin: 10% auto; }
#footer .resume-footer {
  width: 70%;
  margin: 2% auto;
  float: right;
  background: #FFD52B; }
  #footer .resume-footer:after {
    content: "";
    display: table;
    clear: both; }
  #footer .resume-footer div {
    width: 23%;
    float: left; }
    @media screen and (max-width: 880px) {
      #footer .resume-footer div {
        width: 50%;
        margin: 2% auto; } }
    @media screen and (max-width: 580px) {
      #footer .resume-footer div {
        width: 100%; } }
  #footer .resume-footer a {
    line-height: 2em;
    color: #000; }
  #footer .resume-footer a:hover {
    color: #fff; }
#footer .legal-footer {
  background: #fff;
  margin: 3% auto; }
  #footer .legal-footer ul {
    text-align: center;
    width: 100%; }
  #footer .legal-footer li {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin: 0 2%; }
    @media screen and (max-width: 580px) {
      #footer .legal-footer li {
        width: 100%; } }
  #footer .legal-footer a {
    font-size: 14px;
    font-weight: bold; }
  #footer .legal-footer b {
    font-size: 14px;
    color: #000; }

