/* line 32, ../sass/screen.scss */
b {
  font-weight: bolder;
}

/* line 36, ../sass/screen.scss */
.return {
  display: block;
}

/* line 10, ../sass/partials/_clearfix.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 16, ../sass/partials/_clearfix.scss */
.clearfix:after {
  clear: both;
}

@font-face {
  font-family: 'icon';
  src: url("../fonts/icomoon.eot?12hszx");
  src: url("../fonts/icomoon.eot?12hszx#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?12hszx") format("truetype"), url("../fonts/icomoon.woff?12hszx") format("woff"), url("../fonts/icomoon.svg?12hszx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/partials/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/partials/_fonts.scss */
.icon-arrow-right:before {
  content: "\e900";
}

/* line 30, ../sass/partials/_fonts.scss */
.icon-chevron .path1:before {
  content: "\e901";
  color: white;
}

/* line 34, ../sass/partials/_fonts.scss */
.icon-chevron .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: black;
}

/* line 39, ../sass/partials/_fonts.scss */
.icon-email:before {
  content: "\e903";
}

/* line 42, ../sass/partials/_fonts.scss */
.icon-facebook:before {
  content: "\e904";
}

/* line 45, ../sass/partials/_fonts.scss */
.icon-icon-date:before {
  content: "\e905";
}

/* line 48, ../sass/partials/_fonts.scss */
.icon-icon-nos-actions:before {
  content: "\e906";
}

/* line 51, ../sass/partials/_fonts.scss */
.icon-icon-notre-asso:before {
  content: "\e907";
}

/* line 54, ../sass/partials/_fonts.scss */
.icon-icon-nous-soutenir:before {
  content: "\e908";
}

/* line 57, ../sass/partials/_fonts.scss */
.icon-icon-trangle-select:before {
  content: "\e909";
}

/* line 60, ../sass/partials/_fonts.scss */
.icon-join-us:before {
  content: "\e90a";
  color: #fff;
}

/* line 64, ../sass/partials/_fonts.scss */
.icon-linkedin:before {
  content: "\e90b";
}

/* line 67, ../sass/partials/_fonts.scss */
.icon-make-donation:before {
  content: "\e90c";
  color: #fff;
}

/* line 71, ../sass/partials/_fonts.scss */
.icon-oval:before {
  content: "\e90d";
}

/* line 74, ../sass/partials/_fonts.scss */
.icon-pinterest:before {
  content: "\e90e";
}

/* line 77, ../sass/partials/_fonts.scss */
.icon-share-black:before {
  content: "\e90f";
}

/* line 80, ../sass/partials/_fonts.scss */
.icon-twitter:before {
  content: "\e910";
}

/* line 3, ../sass/partials/_reset.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/partials/_reset.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

/* line 17, ../sass/partials/_reset.scss */
a, a:visited {
  text-decoration: none;
  color: initial;
}

/* line 22, ../sass/partials/_reset.scss */
ul {
  list-style: none;
}

/* line 3, ../sass/partials/_clearfix.scss */
body[id*="admin-"]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 29, ../sass/partials/_reset.scss */
body[id*="admin-"] section:nth-child(1) {
  padding-top: 5em;
}

/* line 34, ../sass/partials/_reset.scss */
select {
  -webkit-appearance: none;
  padding: .4em 1em;
}

/* line 39, ../sass/partials/_reset.scss */
body[id*="admin-"] {
  overflow: hidden;
}
/* line 42, ../sass/partials/_reset.scss */
body[id*="admin-"] main {
  height: 83vh;
  overflow-y: auto;
}
/* line 46, ../sass/partials/_reset.scss */
body[id*="admin-"] main::-webkit-scrollbar {
  width: .5em;
}
/* line 50, ../sass/partials/_reset.scss */
body[id*="admin-"] main::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: transparent;
}
/* line 55, ../sass/partials/_reset.scss */
body[id*="admin-"] main::-webkit-scrollbar-thumb {
  background-color: #FAFAFA;
  outline: 1px solid slategrey;
}

/* line 62, ../sass/partials/_reset.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 1, ../sass/partials/_ctas.scss */
.cta {
  padding: .7em 2em;
  font-weight: 500;
  border-radius: 23px;
}
/* line 6, ../sass/partials/_ctas.scss */
.cta a {
  font-weight: 500;
}
/* line 10, ../sass/partials/_ctas.scss */
.cta.cta-black {
  background: #000;
}
/* line 18, ../sass/partials/_ctas.scss */
.cta.cta-black a {
  color: #fff;
}

/* line 1, ../sass/partials/_header.scss */
body:not([id*="admin-"]).window-active {
  overflow: hidden;
}

/* line 5, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 555;
  padding: 1.7em 0 1em 0;
  background: transparent;
  transition: .4s ease-out;
}
@media screen and (max-width: 880px) {
  /* line 5, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) header {
    background: #fff;
    padding-top: 0;
    padding-bottom: 3%;
  }
}
/* line 20, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header.active {
  top: -50%;
  transition: .6s ease-in;
}
/* line 25, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header.not-top {
  background: #fff;
}
/* line 29, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header .inner {
  width: 90%;
  margin: 0 auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
body:not([id*="admin-"]) header .inner:after {
  content: "";
  display: table;
  clear: both;
}
/* line 34, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header .inner .logo-desktop {
  display: block;
}
@media screen and (max-width: 880px) {
  /* line 38, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) header .inner .logo-desktop {
    display: none;
  }
}
/* line 43, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header .inner .logo-mobile {
  display: none;
  margin: 0 auto;
  width: 100px;
  height: auto;
}
@media screen and (max-width: 880px) {
  /* line 50, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) header .inner .logo-mobile {
    display: block;
  }
}
/* line 55, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header .inner .menu-burger {
  display: none;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 26px;
  height: 26px;
}
/* line 63, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header .inner .menu-burger span {
  position: absolute;
  width: 69%;
  height: 2px;
  background: #000;
}
/* line 69, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header .inner .menu-burger span:nth-child(2) {
  top: 7px;
  width: 100%;
}
/* line 74, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header .inner .menu-burger span:nth-child(3) {
  top: 14px;
  width: 69%;
}
/* line 81, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header .inner .share-header {
  display: none;
  position: absolute;
  width: 30px;
  height: auto;
  top: 30px;
  right: 20px;
}
@media screen and (max-width: 880px) {
  /* line 91, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) header .inner .menu-burger, body:not([id*="admin-"]) header .inner .share-header {
    display: block;
  }
}
@media screen and (max-width: 880px) {
  /* line 98, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) header nav {
    width: 100%;
    text-align: center;
    padding: 10%;
  }
}
/* line 107, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header ul {
  font-size: 0;
}
/* line 109, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header li {
  font-size: initial;
  display: inline-block;
  padding: 0.3em 1em;
}
@media screen and (max-width: 880px) {
  /* line 109, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) header li {
    display: block;
    padding-top: 9%;
  }
}
/* line 119, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header li img {
  width: 6px;
}
/* line 122, ../sass/partials/_header.scss */
body:not([id*="admin-"]) header li.active a {
  padding-bottom: 0.8em;
}
@media screen and (max-width: 880px) {
  /* line 122, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) header li.active a {
    border: 0;
    font-weight: bold;
  }
}
@media screen and (max-width: 880px) {
  /* line 132, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) header li a {
    font-size: 24px;
  }
}

/* line 139, ../sass/partials/_header.scss */
body:not([id*="admin-"]) h1 {
  float: left;
  padding-top: 0.7em;
}
@media screen and (max-width: 880px) {
  /* line 139, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) h1 {
    float: none;
    width: 100px;
    margin: 0 auto;
  }
}
/* line 149, ../sass/partials/_header.scss */
body:not([id*="admin-"]) h1.active #header {
  display: block;
}

/* line 154, ../sass/partials/_header.scss */
body:not([id*="admin-"]) #inner-header {
  float: right;
}
@media screen and (max-width: 880px) {
  /* line 154, ../sass/partials/_header.scss */
  body:not([id*="admin-"]) #inner-header {
    width: 100%;
    display: none;
    height: 100vh;
  }
}
/* line 162, ../sass/partials/_header.scss */
body:not([id*="admin-"]) #inner-header.hidde {
  display: block;
}

/* line 168, ../sass/partials/_header.scss */
#header-actions,
nav {
  display: inline-block;
}
@media screen and (max-width: 880px) {
  /* line 168, ../sass/partials/_header.scss */
  #header-actions,
  nav {
    text-align: center;
    width: 100%;
  }
}
/* line 177, ../sass/partials/_header.scss */
#header-actions .cta,
nav .cta {
  margin: 0 1.5em;
}
@media screen and (max-width: 880px) {
  /* line 177, ../sass/partials/_header.scss */
  #header-actions .cta,
  nav .cta {
    margin: 0 auto;
    width: 70%;
    display: block;
    margin-bottom: 11%;
    margin-top: 4%;
  }
}
/* line 189, ../sass/partials/_header.scss */
#header-actions select,
nav select {
  -webkit-appearance: none;
  border: 1px solid #000;
  background: transparent;
  padding: 0.7em 1em;
  border-radius: 100px;
}
@media screen and (max-width: 880px) {
  /* line 189, ../sass/partials/_header.scss */
  #header-actions select,
  nav select {
    display: block;
    margin: 0 auto;
  }
}

/* line 1, ../sass/_index.scss */
#intro {
  padding: 10em 0 1.8em 0;
  background: #FAFAFA;
}
/* line 5, ../sass/_index.scss */
#intro img {
  display: block;
  width: 90%;
  margin: 0 auto;
}
/* line 11, ../sass/_index.scss */
#intro h2 {
  width: 28%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}
@media screen and (max-width: 880px) {
  /* line 11, ../sass/_index.scss */
  #intro h2 {
    width: 55%;
  }
}
/* line 21, ../sass/_index.scss */
#intro h2 span.bolder {
  font-size: inherit;
  font-weight: bolder;
}
/* line 27, ../sass/_index.scss */
#intro .social-network {
  width: 90%;
  margin: 4em auto 0 auto;
}
@media screen and (max-width: 880px) {
  /* line 27, ../sass/_index.scss */
  #intro .social-network {
    display: none;
  }
}
/* line 35, ../sass/_index.scss */
#intro .social-network li {
  display: inline-block;
  margin: 0 1%;
}

/* line 42, ../sass/_index.scss */
#know-more {
  width: 90%;
  margin: 4em auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
#know-more:after {
  content: "";
  display: table;
  clear: both;
}
/* line 47, ../sass/_index.scss */
#know-more .one-fact {
  float: left;
  width: 33%;
  height: 110vh;
  padding: 3%;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 880px) {
  /* line 47, ../sass/_index.scss */
  #know-more .one-fact {
    width: 50%;
    margin: 3% 0;
  }
}
@media screen and (max-width: 580px) {
  /* line 47, ../sass/_index.scss */
  #know-more .one-fact {
    width: 100%;
    margin: 3% 0;
  }
}
/* line 66, ../sass/_index.scss */
#know-more .one-fact:last-child {
  margin-right: 0;
}
/* line 70, ../sass/_index.scss */
#know-more .one-fact:nth-child(2) {
  background: #c5c5c5;
}
@media screen and (max-width: 580px) {
  /* line 70, ../sass/_index.scss */
  #know-more .one-fact:nth-child(2) {
    display: none;
  }
}
/* line 78, ../sass/_index.scss */
#know-more .one-fact:nth-child(3) {
  background: #b8b8b8;
}
@media screen and (max-width: 580px) {
  /* line 78, ../sass/_index.scss */
  #know-more .one-fact:nth-child(3) {
    display: none;
  }
}
/* line 86, ../sass/_index.scss */
#know-more .one-fact h3 {
  font-weight: bold;
  font-size: 1.4em;
}
/* line 91, ../sass/_index.scss */
#know-more .one-fact img {
  display: block;
  width: 30%;
  margin: 0 auto 2em auto;
}
/* line 97, ../sass/_index.scss */
#know-more .one-fact p {
  width: 70%;
  margin: 1em auto;
}
/* line 102, ../sass/_index.scss */
#know-more .one-fact .jt-cta {
  background: #000;
  color: #fff;
  width: 210px;
  border-radius: 23px;
  padding: 2%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 119, ../sass/_index.scss */
#last-news {
  background: #f3f3f3;
  padding: 5em 0;
  color: #000;
}
/* line 124, ../sass/_index.scss */
#last-news > .inner {
  width: 90%;
  margin: 0 auto;
}
/* line 129, ../sass/_index.scss */
#last-news h2 {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  border-bottom: 3px solid #000;
}
/* line 3, ../sass/partials/_clearfix.scss */
#last-news .all-articles:after {
  content: "";
  display: table;
  clear: both;
}
/* line 141, ../sass/_index.scss */
#last-news article {
  float: left;
  position: relative;
  overflow: hidden;
  width: 31%;
  margin-right: 3%;
  padding: 2em 0;
  border-radius: 5px;
  background: #fff;
  color: #000;
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.13);
  transition: .4s ease-out;
}
@media screen and (max-width: 880px) {
  /* line 141, ../sass/_index.scss */
  #last-news article {
    width: 43%;
    margin: 3% 3%;
  }
}
@media screen and (max-width: 580px) {
  /* line 141, ../sass/_index.scss */
  #last-news article {
    width: 100%;
    margin: 3% 0;
  }
}
/* line 164, ../sass/_index.scss */
#last-news article:last-child {
  margin-right: 0;
}
@media screen and (max-width: 580px) {
  /* line 168, ../sass/_index.scss */
  #last-news article:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  /* line 174, ../sass/_index.scss */
  #last-news article:nth-child(3) {
    display: none;
  }
}
/* line 180, ../sass/_index.scss */
#last-news article img.thumbnail {
  position: absolute;
  top: -25%;
  left: -50%;
  opacity: 0;
  z-index: 33;
}
/* line 190, ../sass/_index.scss */
#last-news article:hover {
  background: #000;
  color: #fff;
  transition: .2s ease-in;
}
@media screen and (max-width: 880px) {
  /* line 190, ../sass/_index.scss */
  #last-news article:hover {
    background: #fff;
    color: #000;
    transition: none;
  }
}
/* line 202, ../sass/_index.scss */
#last-news article:hover img.thumbnail {
  opacity: .3;
}
@media screen and (max-width: 880px) {
  /* line 202, ../sass/_index.scss */
  #last-news article:hover img.thumbnail {
    display: none;
  }
}
/* line 210, ../sass/_index.scss */
#last-news article:hover .read-more a {
  color: #fff;
}
@media screen and (max-width: 880px) {
  /* line 210, ../sass/_index.scss */
  #last-news article:hover .read-more a {
    color: #000;
  }
}
/* line 220, ../sass/_index.scss */
#last-news article .top-article {
  position: relative;
  z-index: 44;
  padding-bottom: 1.6em;
  border-bottom: 2px solid rgba(34, 30, 34, 0.1);
}
/* line 226, ../sass/_index.scss */
#last-news article .top-article .inner {
  padding: 1em 2em;
}
/* line 231, ../sass/_index.scss */
#last-news article:hover .top-article {
  border: none;
}
/* line 235, ../sass/_index.scss */
#last-news article .category {
  width: 130px;
  display: block;
  text-align: center;
  background: #000;
  color: #fff;
  padding: .4em 1em;
  border-radius: 100px;
  cursor: pointer;
}
/* line 246, ../sass/_index.scss */
#last-news article h3 {
  margin: 1em 0 .7em 0;
  font-size: 1.6em;
  font-weight: 500;
}
/* line 251, ../sass/_index.scss */
#last-news article p {
  position: relative;
  z-index: 44;
  padding: 2em;
  font-size: 16px;
  line-height: 1.6;
}
/* line 259, ../sass/_index.scss */
#last-news article .read-more {
  z-index: 44;
  padding-left: 2em;
}
/* line 263, ../sass/_index.scss */
#last-news article .read-more a {
  display: inline-block;
  margin-top: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 270, ../sass/_index.scss */
#last-news article .read-more:hover a {
  color: #fff;
}
@media screen and (max-width: 880px) {
  /* line 270, ../sass/_index.scss */
  #last-news article .read-more:hover a {
    color: #000;
  }
}
/* line 278, ../sass/_index.scss */
#last-news article .read-more img {
  width: 20px;
}

/* line 285, ../sass/_index.scss */
#act {
  width: 90%;
  margin: 0 auto;
  padding: 3% 0;
}
/* line 290, ../sass/_index.scss */
#act li {
  position: relative;
  display: inline-block;
  width: 32%;
}
@media screen and (max-width: 880px) {
  /* line 290, ../sass/_index.scss */
  #act li {
    width: 48%;
  }
}
@media screen and (max-width: 580px) {
  /* line 290, ../sass/_index.scss */
  #act li {
    width: 100%;
  }
}
/* line 305, ../sass/_index.scss */
#act article {
  position: relative;
  text-align: center;
}
@media screen and (max-width: 880px) {
  /* line 305, ../sass/_index.scss */
  #act article {
    height: 60vh;
    overflow: hidden;
  }
}
@media screen and (max-width: 580px) {
  /* line 305, ../sass/_index.scss */
  #act article {
    height: 50vh;
    overflow: hidden;
  }
}
/* line 320, ../sass/_index.scss */
#act figure {
  width: 100%;
}
/* line 323, ../sass/_index.scss */
#act figure img {
  width: 100%;
}
/* line 328, ../sass/_index.scss */
#act .content-act {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  color: #fff;
  margin-top: 35%;
}
@media screen and (max-width: 1300px) {
  /* line 328, ../sass/_index.scss */
  #act .content-act {
    margin-top: 30%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 328, ../sass/_index.scss */
  #act .content-act {
    margin-top: 20%;
  }
}
@media screen and (max-width: 1050px) {
  /* line 328, ../sass/_index.scss */
  #act .content-act {
    margin-top: 15%;
  }
}
@media screen and (max-width: 680px) {
  /* line 328, ../sass/_index.scss */
  #act .content-act {
    margin-top: 35%;
  }
}
@media screen and (max-width: 580px) {
  /* line 328, ../sass/_index.scss */
  #act .content-act {
    margin-top: 10%;
  }
}
/* line 359, ../sass/_index.scss */
#act h3 {
  position: relative;
  font-size: 2em;
  font-weight: bold;
  padding: 5% 0;
}
@media screen and (max-width: 1200px) {
  /* line 359, ../sass/_index.scss */
  #act h3 {
    font-size: 1.9em;
  }
}
@media screen and (max-width: 1200px) {
  /* line 359, ../sass/_index.scss */
  #act h3 {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 960px) {
  /* line 359, ../sass/_index.scss */
  #act h3 {
    font-size: 1.7em;
  }
}
/* line 382, ../sass/_index.scss */
#act p {
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0 2em;
}
@media screen and (max-width: 1200px) {
  /* line 382, ../sass/_index.scss */
  #act p {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 1050px) {
  /* line 382, ../sass/_index.scss */
  #act p {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 960px) {
  /* line 382, ../sass/_index.scss */
  #act p {
    font-size: 1.2em;
  }
}
/* line 404, ../sass/_index.scss */
#act .more-act {
  margin-bottom: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  /* line 404, ../sass/_index.scss */
  #act .more-act {
    margin-bottom: 40%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 404, ../sass/_index.scss */
  #act .more-act {
    margin-bottom: 30%;
  }
}
@media screen and (max-width: 1050px) {
  /* line 404, ../sass/_index.scss */
  #act .more-act {
    margin-bottom: 23%;
  }
}
@media screen and (max-width: 960px) {
  /* line 425, ../sass/_index.scss */
  #act .more-act img {
    width: 50px;
  }
}
@media screen and (max-width: 680px) {
  /* line 404, ../sass/_index.scss */
  #act .more-act {
    display: none;
  }
}

/* line 436, ../sass/_index.scss */
#newsletter-home {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 2em 0;
}
/* line 3, ../sass/partials/_clearfix.scss */
#newsletter-home:after {
  content: "";
  display: table;
  clear: both;
}
/* line 443, ../sass/_index.scss */
#newsletter-home h3 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
/* line 449, ../sass/_index.scss */
#newsletter-home p {
  font-size: inherit;
  text-align: center;
  margin-bottom: .7em;
}
/* line 455, ../sass/_index.scss */
#newsletter-home div {
  padding: 2%;
}
/* line 458, ../sass/_index.scss */
#newsletter-home div #newsletter {
  position: absolute;
  text-align: left;
  width: 320px;
  padding: 10px 46px;
  border-radius: 23px;
  border: 1px solid #fff;
  background: #fff;
}
/* line 468, ../sass/_index.scss */
#newsletter-home div #validation {
  position: relative;
  border-radius: 23px;
  border: none;
  background: #FAFAFA;
  margin-left: 245px;
  padding: 11px 53px;
  font-weight: bold;
}
@media screen and (max-width: 580px) {
  /* line 479, ../sass/_index.scss */
  #newsletter-home div #newsletter {
    width: 300px;
  }
  /* line 483, ../sass/_index.scss */
  #newsletter-home div #validation {
    padding: 11px 25px;
  }
}
/* line 488, ../sass/_index.scss */
#newsletter-home div .input-group-addo {
  position: absolute;
}
/* line 492, ../sass/_index.scss */
#newsletter-home div .fa-envelope {
  background: url("../img-layout/mail.svg") no-repeat center center;
  position: absolute;
}

/* line 3, ../sass/_aboutus.scss */
#about main .wrapper {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 3em;
}
/* line 9, ../sass/_aboutus.scss */
#about main section {
  margin-bottom: 5em;
}
/* line 12, ../sass/_aboutus.scss */
#about main .our-story {
  text-align: center;
}
/* line 14, ../sass/_aboutus.scss */
#about main .our-story h3 {
  color: #ff9806;
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: .7em;
}
/* line 19, ../sass/_aboutus.scss */
#about main .our-story h3 span {
  font-size: inherit;
  font-style: italic;
}
/* line 24, ../sass/_aboutus.scss */
#about main .our-story p {
  width: 70%;
  margin: 0 auto .8em auto;
  line-height: 1.5;
  text-align: justify;
}
/* line 31, ../sass/_aboutus.scss */
#about main .our-story.intro {
  height: 100vh;
  width: 70%;
  margin: 1em auto 2em auto;
  text-align: center;
  padding-bottom: 1.2em;
}
/* line 34, ../sass/_aboutus.scss */
#about main .our-story.intro .content {
  transform: translateY(145%);
}
/* line 38, ../sass/_aboutus.scss */
#about main .our-story.intro h2 {
  font-size: 2.3em;
  font-weight: bold;
  color: #ff9806;
}
/* line 49, ../sass/_aboutus.scss */
#about main .our-story.intro p {
  margin: 1em auto 0 auto;
  line-height: 1.7;
}

/* line 3, ../sass/_ouractions.scss */
#actions main .wrapper {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 3em;
}
/* line 9, ../sass/_ouractions.scss */
#actions main section {
  margin-bottom: 5em;
}
/* line 12, ../sass/_ouractions.scss */
#actions main .our-actions {
  text-align: center;
}
/* line 14, ../sass/_ouractions.scss */
#actions main .our-actions h3 {
  color: #fc1053;
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: .7em;
}
/* line 19, ../sass/_ouractions.scss */
#actions main .our-actions h3 span {
  font-size: inherit;
  font-style: italic;
}
/* line 24, ../sass/_ouractions.scss */
#actions main .our-actions p {
  width: 70%;
  margin: 0 auto .8em auto;
  line-height: 1.5;
  text-align: justify;
}
/* line 31, ../sass/_ouractions.scss */
#actions main .our-actions.intro {
  height: 100vh;
  width: 70%;
  margin: 1em auto 2em auto;
  text-align: center;
  padding-bottom: 1.2em;
}
/* line 34, ../sass/_ouractions.scss */
#actions main .our-actions.intro .content {
  transform: translateY(145%);
}
/* line 38, ../sass/_ouractions.scss */
#actions main .our-actions.intro h2 {
  font-size: 2.3em;
  font-weight: bold;
  color: #fc1053;
}
/* line 49, ../sass/_ouractions.scss */
#actions main .our-actions.intro p {
  margin: 1em auto 0 auto;
  line-height: 1.7;
}

/* line 3, ../sass/_login.scss */
body#login header {
  position: initial;
  display: block;
  text-align: center;
  margin-bottom: 3em;
  padding-top: 4em;
}
/* line 10, ../sass/_login.scss */
body#login header h1 {
  display: block;
  width: 100%;
  font-size: 2em;
  text-align: center;
}
/* line 17, ../sass/_login.scss */
body#login main {
  width: 90%;
  margin: 0 auto;
  padding: 5em 0 9em 0;
}
/* line 22, ../sass/_login.scss */
body#login main h2, body#login main b, body#login main span {
  font-size: 1.5em;
  margin-bottom: 1em;
}
/* line 28, ../sass/_login.scss */
body#login .breadcrumb {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 1em;
}
/* line 34, ../sass/_login.scss */
body#login section {
  width: 40%;
  margin: 0 auto;
}
/* line 37, ../sass/_login.scss */
body#login section label, body#login section input {
  display: block;
}
/* line 41, ../sass/_login.scss */
body#login section div {
  margin-bottom: 1.5em;
}
/* line 45, ../sass/_login.scss */
body#login section label {
  font-weight: bolder;
  margin-bottom: 10px;
}
/* line 50, ../sass/_login.scss */
body#login section input {
  width: 100%;
  border: 0;
  background: #f7f7f7;
  padding: .7em 1em;
}
/* line 57, ../sass/_login.scss */
body#login section input[type="submit"] {
  background: #fdeed8;
  color: #ff9806;
  font-weight: bolder;
}

/* line 1, ../sass/partials/_contact.scss */
main, header {
  position: relative;
}

/* line 5, ../sass/partials/_contact.scss */
#contact {
  display: none;
  position: absolute;
  z-index: 667;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
/* line 3, ../sass/partials/_clearfix.scss */
#contact:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../sass/partials/_contact.scss */
#contact.active {
  display: block;
}
/* line 19, ../sass/partials/_contact.scss */
#contact .container {
  display: block;
  margin: 0 auto;
  width: 60%;
  font-weight: bold;
  padding-top: 8%;
}
@media screen and (max-width: 1050px) {
  /* line 19, ../sass/partials/_contact.scss */
  #contact .container {
    width: 80%;
  }
}
@media screen and (max-width: 880px) {
  /* line 19, ../sass/partials/_contact.scss */
  #contact .container {
    width: 100%;
    text-align: center;
  }
}
/* line 35, ../sass/partials/_contact.scss */
#contact .container .cross {
  width: 30px;
  float: right;
  cursor: pointer;
}
/* line 41, ../sass/partials/_contact.scss */
#contact .container h3 {
  text-align: left;
  font-size: 30px;
}
@media screen and (max-width: 880px) {
  /* line 41, ../sass/partials/_contact.scss */
  #contact .container h3 {
    text-align: center;
  }
}
/* line 50, ../sass/partials/_contact.scss */
#contact .container .info-contact {
  float: right;
  width: 35%;
  text-align: left;
  padding-top: 12%;
}
@media screen and (max-width: 880px) {
  /* line 50, ../sass/partials/_contact.scss */
  #contact .container .info-contact {
    width: 100%;
    float: none;
    text-align: center;
  }
}
/* line 62, ../sass/partials/_contact.scss */
#contact .container .info-contact .adresse {
  padding-bottom: 8%;
}
/* line 66, ../sass/partials/_contact.scss */
#contact .container .info-contact .adresse-mail {
  padding-top: 6%;
}
/* line 71, ../sass/partials/_contact.scss */
#contact .container a {
  color: #fff;
}
/* line 75, ../sass/partials/_contact.scss */
#contact .container .first-fields {
  width: 100%;
  text-align: left;
}
@media screen and (max-width: 880px) {
  /* line 75, ../sass/partials/_contact.scss */
  #contact .container .first-fields {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
/* line 85, ../sass/partials/_contact.scss */
#contact .container .first-fields input {
  padding: 1% 2%;
  margin: 3%;
  width: 25%;
  color: #fff;
  border: none;
  border-bottom: 1.5px solid #fff;
  background: transparent;
}
@media screen and (max-width: 880px) {
  /* line 85, ../sass/partials/_contact.scss */
  #contact .container .first-fields input {
    width: 100%;
  }
  /* line 97, ../sass/partials/_contact.scss */
  #contact .container .first-fields input:nth-child(2) {
    margin-left: 0;
  }
}
/* line 102, ../sass/partials/_contact.scss */
#contact .container .first-fields input:first-child {
  margin-left: 0;
}
/* line 108, ../sass/partials/_contact.scss */
#contact .container .content-message {
  text-align: left;
  width: 60%;
}
@media screen and (max-width: 880px) {
  /* line 108, ../sass/partials/_contact.scss */
  #contact .container .content-message {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 3%;
  }
}
/* line 119, ../sass/partials/_contact.scss */
#contact .container .content-message textarea {
  background: transparent;
  color: #fff;
  border: 1.5px solid #fff;
  padding: 3%;
  width: 100%;
}
@media screen and (max-width: 880px) {
  /* line 119, ../sass/partials/_contact.scss */
  #contact .container .content-message textarea {
    padding-top: 3%;
  }
}
/* line 132, ../sass/partials/_contact.scss */
#contact .container .button-message {
  float: left;
}
/* line 135, ../sass/partials/_contact.scss */
#contact .container .button-message input {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 7% 26%;
  margin-top: 28%;
}
/* line 145, ../sass/partials/_contact.scss */
#contact .container ::-webkit-input-placeholder {
  /* Chrome */
  color: #fff;
}
/* line 148, ../sass/partials/_contact.scss */
#contact .container :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
/* line 151, ../sass/partials/_contact.scss */
#contact .container ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
/* line 155, ../sass/partials/_contact.scss */
#contact .container :-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}

/* line 1, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] {
  position: relative;
}
/* line 4, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header {
  padding: 2.5em 0;
  background: #f7f7f7;
}
/* line 3, ../sass/partials/_clearfix.scss */
body[id*="admin-"] header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header .inner {
  width: 90%;
  margin: 0 auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
body[id*="admin-"] header .inner:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header #bm {
  position: relative;
  margin-left: 5%;
  width: 30px;
  display: none;
}
/* line 21, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header #bm span {
  position: absolute;
  z-index: 888;
  background: #000;
  width: 100%;
  height: 3px;
}
/* line 28, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header #bm span:first-child {
  top: 0;
}
/* line 32, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header #bm span:nth-child(2) {
  top: 8px;
}
/* line 36, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header #bm span:last-child {
  top: 17px;
}
/* line 42, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header #bm.opn span:first-child {
  transform: rotate(-45deg);
  top: 0;
}
/* line 47, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header #bm.opn span:nth-child(2) {
  opacity: 0;
}
/* line 51, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header #bm.opn span:last-child {
  transform: rotate(45deg);
  top: 0;
}
/* line 58, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] header.opn #bm {
  display: block;
}
/* line 65, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions {
  float: right;
}
/* line 3, ../sass/partials/_clearfix.scss */
body[id*="admin-"] #admin-actions:after {
  content: "";
  display: table;
  clear: both;
}
/* line 70, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions > div {
  float: left;
}
/* line 74, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .ctas {
  margin-right: 2em;
}
/* line 76, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .cta {
  border: 1px solid #000;
  margin: 0 .5em;
}
/* line 80, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .cta.new-article {
  background: #ff9806;
  border: 1px solid #ff9806;
}
/* line 84, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .cta.new-article a {
  font-weight: initial;
  color: #fff;
}
@media screen and (max-width: 880px) {
  /* line 65, ../sass/partials/_headeradmin.scss */
  body[id*="admin-"] #admin-actions {
    display: none;
  }
  /* line 94, ../sass/partials/_headeradmin.scss */
  body[id*="admin-"] #admin-actions .ctas {
    display: block;
    width: 100%;
    background: #fff;
  }
  /* line 99, ../sass/partials/_headeradmin.scss */
  body[id*="admin-"] #admin-actions .ctas .cta {
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 2em;
  }
}
/* line 3, ../sass/partials/_clearfix.scss */
body[id*="admin-"] #admin-actions .icon-action:after {
  content: "";
  display: table;
  clear: both;
}
/* line 114, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action > div {
  float: left;
  position: relative;
}
/* line 119, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action > div:hover > div[class*="my-"] {
  opacity: 1;
  transition: .4s ease-in;
}
/* line 124, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action div > span {
  display: block;
  position: relative;
  float: left;
  margin-right: .4em;
  cursor: pointer;
  font-size: 1.8em;
  line-height: .8;
}
/* line 134, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action div > div[class*="my-"] {
  overflow: hidden;
  position: absolute;
  z-index: 666;
  background: #FAFAFA;
  width: 200px;
  top: 3em;
  left: -100%;
  padding: 1em;
  text-align: center;
  border: 1px solid #000;
  opacity: 0;
  transition: .3s ease-out;
}
/* line 148, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action div > div[class*="my-"].my-space {
  padding: 0;
}
/* line 151, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action div > div[class*="my-"].my-space li {
  padding: .6em 0;
  border-bottom: 1px solid #000;
}
/* line 155, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action div > div[class*="my-"].my-space li:first-child {
  text-transform: uppercase;
  font-weight: bolder;
}
/* line 160, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action div > div[class*="my-"].my-space li:last-child {
  border: none;
}
/* line 164, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action div > div[class*="my-"].my-space li:hover a {
  font-weight: bolder;
}
/* line 170, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action div > div[class*="my-"] h3 {
  text-transform: uppercase;
  font-weight: bolder;
}
/* line 176, ../sass/partials/_headeradmin.scss */
body[id*="admin-"] #admin-actions .icon-action span.push {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  background: #ff9806;
  color: #fff;
  line-height: initial;
  border: 4px solid #f7f7f7;
}

/* line 1, ../sass/partials/_asideadmin.scss */
#admin-aside {
  width: 15%;
  float: left;
  height: 87vh;
}
/* line 6, ../sass/partials/_asideadmin.scss */
#admin-aside li.active {
  position: relative;
  font-weight: bold;
}
/* line 10, ../sass/partials/_asideadmin.scss */
#admin-aside li.active a {
  color: #ff9806;
}
/* line 12, ../sass/partials/_asideadmin.scss */
#admin-aside li.active::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 100%;
  background: #ff9806;
  left: 0;
}
@media screen and (max-width: 880px) {
  /* line 6, ../sass/partials/_asideadmin.scss */
  #admin-aside li.active {
    background: none;
  }
  /* line 23, ../sass/partials/_asideadmin.scss */
  #admin-aside li.active::before {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  /* line 1, ../sass/partials/_asideadmin.scss */
  #admin-aside {
    display: none;
  }
}
/* line 33, ../sass/partials/_asideadmin.scss */
#admin-aside li {
  transition: .4s ease-out;
  border-right: #f7f7f7;
}
/* line 38, ../sass/partials/_asideadmin.scss */
#admin-aside a {
  display: block;
  padding: 1.5em 2em;
  border-bottom: 1px solid #f7f7f7;
}
@media screen and (max-width: 880px) {
  /* line 1, ../sass/partials/_asideadmin.scss */
  #admin-aside {
    z-index: 666;
    position: absolute;
    background: #fff;
    width: 100%;
    border-right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    padding-top: 10em;
    text-align: center;
  }
  /* line 56, ../sass/partials/_asideadmin.scss */
  #admin-aside a {
    font-size: 1.5em;
  }
  /* line 60, ../sass/partials/_asideadmin.scss */
  #admin-aside li:first-child {
    border-top: 1px solid #000;
  }
  /* line 64, ../sass/partials/_asideadmin.scss */
  #admin-aside li:hover {
    background: initial;
  }
}

/* line 2, ../sass/partials/_adminelements.scss */
body[id*="admin-"] div[class*="head-all"] {
  padding-bottom: 20px;
  border-bottom: 3px solid #f7f7f7;
  margin-bottom: 3em;
}
/* line 3, ../sass/partials/_clearfix.scss */
body[id*="admin-"] div[class*="head-all"]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 8, ../sass/partials/_adminelements.scss */
body[id*="admin-"] div[class*="head-all"] a {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bolder;
  margin: 0 10px;
  padding: 0 1em;
}
/* line 16, ../sass/partials/_adminelements.scss */
body[id*="admin-"] div[class*="head-all"] a.active {
  position: relative;
  font-size: 17px;
  color: #ff9806;
  font-weight: bold;
}
/* line 22, ../sass/partials/_adminelements.scss */
body[id*="admin-"] div[class*="head-all"] a.active::before {
  content: '';
  position: absolute;
  background: #ff9806;
  width: 100%;
  height: 6px;
  bottom: -25px;
  left: 0;
}
/* line 34, ../sass/partials/_adminelements.scss */
body[id*="admin-"] div[class*="head-all"] a:not(.active) {
  color: rgba(0, 0, 34, 0.5);
}
/* line 38, ../sass/partials/_adminelements.scss */
body[id*="admin-"] div[class*="head-all"] .vue {
  float: right;
}
/* line 41, ../sass/partials/_adminelements.scss */
body[id*="admin-"] div[class*="head-all"] .vue span.active {
  color: #ff9806;
  background: #ff9806;
}
/* line 49, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article {
  background: #fff;
  padding: 2em 1.5em;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1em;
}
/* line 3, ../sass/partials/_clearfix.scss */
body[id*="admin-"] article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 57, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article a.container {
  display: block;
  float: left;
}
/* line 3, ../sass/partials/_clearfix.scss */
body[id*="admin-"] article a.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 64, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article a.container > div {
  float: left;
  margin-right: 1.3em;
}
/* line 69, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article h3 {
  font-size: 16px;
  margin-bottom: 0.4em;
}
/* line 74, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article:hover {
  background: #f7f7f7;
}
/* line 78, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article .author, body[id*="admin-"] article .author b {
  font-size: 16px;
}
/* line 82, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article .post-status {
  position: relative;
  border-radius: 5px;
  border: 1px solid #fc1053;
  height: 40px;
  line-height: 2.3;
  padding: 0 1em 0 35px;
  color: #fc1053;
  font-weight: bold;
}
/* line 92, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article .post-status .round {
  position: absolute;
  border-radius: 100px;
  width: 7px;
  height: 7px;
  background: #fc1053;
  left: 15px;
  top: 40%;
}
/* line 103, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article .category {
  position: relative;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 0 1em;
  height: 40px;
  line-height: 2.3;
}
/* line 107, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article .more {
  float: right;
  width: 5%;
  line-height: 2.8;
  cursor: pointer;
}
/* line 112, ../sass/partials/_adminelements.scss */
body[id*="admin-"] article .more span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100px;
  background: #d9d9d9;
  margin-bottom: 3px;
  cursor: pointer;
}
/* line 126, ../sass/partials/_adminelements.scss */
body[id*="admin-"] .pagination {
  display: block;
  margin-top: 3em;
  text-align: center;
}
/* line 131, ../sass/partials/_adminelements.scss */
body[id*="admin-"] .pagination .arrow {
  font-weight: bold;
  background: #f7f7f7;
  padding: .5em .8em;
  border-radius: 4px;
  margin: 0 3px;
}
/* line 139, ../sass/partials/_adminelements.scss */
body[id*="admin-"] .pagination span:not(.arrow) {
  margin: 0 10px;
}
/* line 144, ../sass/partials/_adminelements.scss */
body[id*="admin-"] .order-by {
  float: right;
}
/* line 147, ../sass/partials/_adminelements.scss */
body[id*="admin-"] .order-by label,
body[id*="admin-"] .order-by option,
body[id*="admin-"] .order-by select {
  color: #ff9806;
  font-weight: bolder;
}
/* line 154, ../sass/partials/_adminelements.scss */
body[id*="admin-"] .order-by select {
  border: 1px solid #ff9806;
  background: none;
  border-radius: 200px;
}

/* line 2, ../sass/_adminhome.scss */
body[id*="admin-"] main {
  width: 85%;
  float: right;
  overflow-x: hidden;
  padding-bottom: 2em;
  background: #fcfcfc;
}
/* line 9, ../sass/_adminhome.scss */
body[id*="admin-"] main .inner {
  width: 95%;
  margin: 0 auto;
  padding-top: 2em;
}
/* line 3, ../sass/partials/_clearfix.scss */
body[id*="admin-"] main .inner:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 880px) {
  /* line 2, ../sass/_adminhome.scss */
  body[id*="admin-"] main {
    width: 95%;
    float: none;
    margin: 0 auto;
  }
  /* line 21, ../sass/_adminhome.scss */
  body[id*="admin-"] main .inner {
    width: 100%;
    margin: 0;
  }
}

/* line 3, ../sass/partials/_clearfix.scss */
#admin-home:after {
  content: "";
  display: table;
  clear: both;
}
/* line 32, ../sass/_adminhome.scss */
#admin-home .all-articles {
  width: 77%;
  float: left;
  border-radius: 10px;
  margin-right: 3%;
  padding: 2em 0;
}
@media screen and (max-width: 880px) {
  /* line 32, ../sass/_adminhome.scss */
  #admin-home .all-articles {
    width: 100%;
    float: none;
  }
}
/* line 46, ../sass/_adminhome.scss */
#admin-home .all-articles article {
  background: #fff;
  padding: 2em 1.5em;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1em;
}
/* line 3, ../sass/partials/_clearfix.scss */
#admin-home .all-articles article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 54, ../sass/_adminhome.scss */
#admin-home .all-articles article a.container {
  display: block;
  float: left;
}
/* line 3, ../sass/partials/_clearfix.scss */
#admin-home .all-articles article a.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 61, ../sass/_adminhome.scss */
#admin-home .all-articles article a.container > div {
  float: left;
  margin-right: 1.3em;
}
/* line 66, ../sass/_adminhome.scss */
#admin-home .all-articles article h3 {
  font-size: 16px;
  margin-bottom: 0.4em;
}
/* line 71, ../sass/_adminhome.scss */
#admin-home .all-articles article:hover {
  background: #f7f7f7;
}
/* line 75, ../sass/_adminhome.scss */
#admin-home .all-articles article .author, #admin-home .all-articles article .author b {
  font-size: 16px;
}
/* line 79, ../sass/_adminhome.scss */
#admin-home .all-articles article .post-status {
  position: relative;
  border-radius: 5px;
  border: 1px solid #fc1053;
  height: 40px;
  line-height: 2.3;
  padding: 0 1em 0 35px;
  color: #fc1053;
  font-weight: bold;
}
/* line 89, ../sass/_adminhome.scss */
#admin-home .all-articles article .post-status .round {
  position: absolute;
  border-radius: 100px;
  width: 7px;
  height: 7px;
  background: #fc1053;
  left: 15px;
  top: 40%;
}
/* line 100, ../sass/_adminhome.scss */
#admin-home .all-articles article .category {
  position: relative;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 0 1em;
  height: 40px;
  line-height: 2.3;
}
/* line 104, ../sass/_adminhome.scss */
#admin-home .all-articles article .more {
  float: right;
  width: 5%;
  line-height: 2.8;
  cursor: pointer;
}
/* line 109, ../sass/_adminhome.scss */
#admin-home .all-articles article .more span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100px;
  background: #d9d9d9;
  margin-bottom: 3px;
  cursor: pointer;
}
/* line 125, ../sass/_adminhome.scss */
#admin-home .stats {
  width: 20%;
  float: right;
}
@media screen and (max-width: 880px) {
  /* line 125, ../sass/_adminhome.scss */
  #admin-home .stats {
    width: 100%;
    float: none;
    clear: both;
    margin-top: 3em;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 580px) {
  /* line 125, ../sass/_adminhome.scss */
  #admin-home .stats {
    padding-left: 2em;
  }
}
/* line 143, ../sass/_adminhome.scss */
#admin-home .stats .quick-stats > div {
  background: #fff;
  width: 100%;
  padding: 1.7em .8em;
  margin-bottom: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}
/* line 150, ../sass/_adminhome.scss */
#admin-home .stats .quick-stats > div:last-child {
  margin-right: 0;
}
@media screen and (max-width: 580px) {
  /* line 141, ../sass/_adminhome.scss */
  #admin-home .stats .quick-stats {
    width: 20%;
    width: 300%;
    overflow-x: scroll;
  }
}
/* line 161, ../sass/_adminhome.scss */
#admin-home .stats .quick-stats .head {
  margin-bottom: 1em;
}
/* line 164, ../sass/_adminhome.scss */
#admin-home .stats .quick-stats .head h3 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 15px;
}
/* line 170, ../sass/_adminhome.scss */
#admin-home .stats .quick-stats .head span.last-date {
  font-size: .8em;
}
/* line 175, ../sass/_adminhome.scss */
#admin-home .stats .quick-stats .nb {
  font-size: 3.8em;
  font-weight: bolder;
}

/* line 1, ../sass/_adminnewarticle.scss */
#admin-add-article {
  width: 90%;
  margin: 0 auto;
  padding-top: 3em;
}
/* line 3, ../sass/partials/_clearfix.scss */
#admin-add-article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, ../sass/_adminnewarticle.scss */
#admin-add-article h2 {
  display: block;
  position: relative;
  z-index: 555;
  font-weight: bolder;
  font-size: 1.6em;
  margin-bottom: 1em;
}
/* line 16, ../sass/_adminnewarticle.scss */
#admin-add-article .wrapper {
  display: block;
  position: relative;
  z-index: 11;
}
/* line 22, ../sass/_adminnewarticle.scss */
#admin-add-article .main-content {
  width: 65%;
  float: left;
}
/* line 26, ../sass/_adminnewarticle.scss */
#admin-add-article .main-content input {
  display: block;
  width: 100%;
  padding: 1em 1em;
  margin-bottom: 1em;
  background: #f7f7f7;
  border: none;
}
/* line 33, ../sass/_adminnewarticle.scss */
#admin-add-article .main-content input::-webkit-input-placeholder {
  color: #000;
}
/* line 39, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content {
  width: 30%;
  margin-left: 5%;
  float: right;
}
/* line 3, ../sass/partials/_clearfix.scss */
#admin-add-article .aside-content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 45, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content h3 {
  font-weight: bolder;
  text-transform: uppercase;
  padding: 1.2em 1em;
  background: #fdeed8;
  color: #ff9806;
}
/* line 53, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content > div {
  padding: 1em 2em;
  background: #fff;
}
/* line 3, ../sass/partials/_clearfix.scss */
#admin-add-article .aside-content > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 58, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content > div span {
  display: block;
  margin-bottom: 10px;
}
/* line 63, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content > div select {
  background: #fff;
  position: relative;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 0 1em;
  height: 40px;
  line-height: 2.3;
}
/* line 68, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content > div input {
  outline: none;
  display: block;
  width: 100%;
  margin: 1em auto;
  padding: 0.3em 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
}
/* line 79, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content > div textarea {
  width: 100%;
  border: none;
  background: #f7f7f7;
  border-radius: 6px;
  padding: 1em;
}
/* line 87, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content > div .all-tags .tag {
  background: red;
  padding: 0.2em 1.5em;
  cursor: pointer;
}
/* line 3, ../sass/partials/_clearfix.scss */
#admin-add-article .aside-content > div .all-tags .tag:after {
  content: "";
  display: table;
  clear: both;
}
/* line 93, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content > div .all-tags .tag i {
  display: none;
  float: left;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100px;
  text-align: center;
  color: #fff;
  margin-right: 1em;
}
/* line 105, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content > div .all-tags .tag:hover i {
  display: block;
}
/* line 112, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content button {
  display: block;
  float: left;
  margin: 1em 10px 1em 0;
  border: none;
  border-radius: 0;
  font-size: 16px;
  padding: 0.7em 1em;
  background: #fdeed8;
  color: #ff9806;
  font-weight: bolder;
}
/* line 125, ../sass/_adminnewarticle.scss */
#admin-add-article .aside-content button:last-child {
  margin-right: 0;
  background: #FAFAFA;
}

/* line 2, ../sass/_adminarticles.scss */
#admin-articles main section {
  width: 90%;
  margin: 0 auto;
  padding-top: 3em;
}

/* line 3, ../sass/partials/_clearfix.scss */
#admin-all-articles:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/_adminarticles.scss */
#admin-all-articles .head-all-articles {
  float: left;
}
/* line 16, ../sass/_adminarticles.scss */
#admin-all-articles .order-by {
  float: right;
}
/* line 19, ../sass/_adminarticles.scss */
#admin-all-articles .order-by label,
#admin-all-articles .order-by option,
#admin-all-articles .order-by select {
  color: #ff9806;
  font-weight: bolder;
}
/* line 26, ../sass/_adminarticles.scss */
#admin-all-articles .order-by select {
  border: 1px solid #ff9806;
  background: none;
  border-radius: 200px;
}
/* line 33, ../sass/_adminarticles.scss */
#admin-all-articles .head {
  clear: both;
  background: #f7f7f7;
}
/* line 37, ../sass/_adminarticles.scss */
#admin-all-articles .head .actions > div {
  display: inline-block;
  padding: 1em 3em;
  cursor: pointer;
}
/* line 42, ../sass/_adminarticles.scss */
#admin-all-articles .head .actions > div select {
  background: transparent;
  border-radius: 200px;
  padding-right: 0;
}

/* line 51, ../sass/_adminarticles.scss */
#admin-view-articles {
  clear: both;
  padding-top: 4em;
}
/* line 55, ../sass/_adminarticles.scss */
#admin-view-articles article {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 1.7em;
  padding: 2.4em 3.5em;
}
/* line 3, ../sass/partials/_clearfix.scss */
#admin-view-articles article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 62, ../sass/_adminarticles.scss */
#admin-view-articles article div {
  margin-right: 3em;
}
/* line 66, ../sass/_adminarticles.scss */
#admin-view-articles article .checkbox {
  float: left;
  text-align: center;
  margin-top: 10px;
}
/* line 72, ../sass/_adminarticles.scss */
#admin-view-articles article .check-status {
  border: 0;
}
/* line 76, ../sass/_adminarticles.scss */
#admin-view-articles article .actions {
  float: right;
}

/* line 1, ../sass/_adminvolunteers.scss */
#admin-volunteers {
  width: 90%;
  margin: 0 auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
#admin-volunteers:after {
  content: "";
  display: table;
  clear: both;
}
/* line 6, ../sass/_adminvolunteers.scss */
#admin-volunteers .head-all-articles {
  float: left;
}
/* line 10, ../sass/_adminvolunteers.scss */
#admin-volunteers .order-by label {
  padding-right: 1em;
}
/* line 14, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers {
  clear: both;
}
/* line 16, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .volunteer > a {
  display: block;
}
/* line 3, ../sass/partials/_clearfix.scss */
#admin-volunteers .all-volunteers .volunteer > a:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .volunteer {
  background: red;
  width: 100%;
  padding: 1.7em 4em;
  background: #fff;
  border-radius: 30px;
  margin-bottom: 2em;
}
/* line 29, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .volunteer div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2em;
}
/* line 36, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .volunteer h3 {
  font-weight: bolder;
  font-size: 1.2em;
}
/* line 41, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .volunteer .volunteer-status {
  position: relative;
  border-radius: 5px;
  border: 1px solid #fdeed8;
  padding: 0 1em;
  height: 40px;
  line-height: 2.3;
  background: #fdeed8;
  padding: 0 2em;
  color: #ff9806;
  font-weight: bold;
}
/* line 49, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .volunteer .function-status {
  position: relative;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 0 1em;
  height: 40px;
  line-height: 2.3;
  padding: 0 2em;
}
/* line 53, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .volunteer .function-status span {
  font-weight: bolder;
}
/* line 56, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .volunteer .infos {
  padding-left: .7em;
  width: 25%;
}
/* line 66, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .profile-pic {
  width: 10%;
}
/* line 70, ../sass/_adminvolunteers.scss */
#admin-volunteers .all-volunteers .profile-pic span {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: green;
}

/* line 2, ../sass/partials/_footer.scss */
#footer .information {
  background: #f3f3f3;
  color: #000;
}
/* line 3, ../sass/partials/_clearfix.scss */
#footer .information:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../sass/partials/_footer.scss */
#footer .logo-footer {
  width: 30%;
  float: left;
}
@media screen and (max-width: 580px) {
  /* line 9, ../sass/partials/_footer.scss */
  #footer .logo-footer {
    float: none;
    display: block;
    margin: 10% auto;
    padding-top: 10%;
  }
}
/* line 20, ../sass/partials/_footer.scss */
#footer .logo-footer img {
  display: block;
  margin: 10% auto;
}
/* line 26, ../sass/partials/_footer.scss */
#footer .resume-footer {
  width: 70%;
  margin: 2% auto;
  float: right;
}
/* line 3, ../sass/partials/_clearfix.scss */
#footer .resume-footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 32, ../sass/partials/_footer.scss */
#footer .resume-footer div {
  width: 23%;
  float: left;
}
@media screen and (max-width: 880px) {
  /* line 32, ../sass/partials/_footer.scss */
  #footer .resume-footer div {
    width: 50%;
    margin: 2% auto;
  }
}
@media screen and (max-width: 580px) {
  /* line 32, ../sass/partials/_footer.scss */
  #footer .resume-footer div {
    width: 100%;
  }
}
/* line 45, ../sass/partials/_footer.scss */
#footer .resume-footer a {
  line-height: 2em;
  color: #000;
}
/* line 50, ../sass/partials/_footer.scss */
#footer .resume-footer a:hover {
  color: #fff;
}
/* line 55, ../sass/partials/_footer.scss */
#footer .legal-footer {
  background: #fff;
  margin: 3% auto;
}
/* line 59, ../sass/partials/_footer.scss */
#footer .legal-footer ul {
  text-align: center;
  width: 100%;
}
/* line 64, ../sass/partials/_footer.scss */
#footer .legal-footer li {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 0 2%;
}
@media screen and (max-width: 580px) {
  /* line 64, ../sass/partials/_footer.scss */
  #footer .legal-footer li {
    width: 100%;
  }
}
/* line 75, ../sass/partials/_footer.scss */
#footer .legal-footer a {
  font-size: 14px;
  font-weight: bold;
}
/* line 80, ../sass/partials/_footer.scss */
#footer .legal-footer b {
  font-size: 14px;
  color: #000;
}
