/* line 10, ../sass/partials/_clearfix.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 16, ../sass/partials/_clearfix.scss */
.clearfix:after {
  clear: both;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fontsSourceSerifPro-Semibold.eot");
  src: url("../fontsSourceSerifPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fontsSourceSerifPro-Semibold.woff") format("woff"), url("../fontsSourceSerifPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fontsSourceSerifPro-Bold.eot");
  src: url("../fontsSourceSerifPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fontsSourceSerifPro-Bold.woff") format("woff"), url("../fontsSourceSerifPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fontsSourceSerifPro-Regular.eot");
  src: url("../fontsSourceSerifPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fontsSourceSerifPro-Regular.woff") format("woff"), url("../fontsSourceSerifPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ExtraLight.eot");
  src: url("../fonts/FiraSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ExtraLight.woff") format("woff"), url("../fonts/FiraSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Thin.eot");
  src: url("../fonts/FiraSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Thin.woff") format("woff"), url("../fonts/FiraSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Black.eot");
  src: url("../fonts/FiraSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Black.woff") format("woff"), url("../fonts/FiraSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Medium.woff") format("woff"), url("../fonts/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ExtraLightItalic.eot");
  src: url("../fonts/FiraSans-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ExtraLightItalic.woff") format("woff"), url("../fonts/FiraSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Bold.eot");
  src: url("../fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-SemiBold.eot");
  src: url("../fonts/FiraSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-SemiBold.woff") format("woff"), url("../fonts/FiraSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-LightItalic.eot");
  src: url("../fonts/FiraSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-LightItalic.woff") format("woff"), url("../fonts/FiraSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Italic.eot");
  src: url("../fonts/FiraSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Italic.woff") format("woff"), url("../fonts/FiraSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ExtraBold.eot");
  src: url("../fonts/FiraSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ExtraBold.woff") format("woff"), url("../fonts/FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ExtraBoldItalic.eot");
  src: url("../fonts/FiraSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/FiraSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-BoldItalic.eot");
  src: url("../fonts/FiraSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-BoldItalic.woff") format("woff"), url("../fonts/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Light.eot");
  src: url("../fonts/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Light.woff") format("woff"), url("../fonts/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-SemiBoldItalic.eot");
  src: url("../fonts/FiraSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-SemiBoldItalic.woff") format("woff"), url("../fonts/FiraSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-MediumItalic.eot");
  src: url("../fonts/FiraSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-MediumItalic.woff") format("woff"), url("../fonts/FiraSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-BlackItalic.eot");
  src: url("../fonts/FiraSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-BlackItalic.woff") format("woff"), url("../fonts/FiraSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ThinItalic.eot");
  src: url("../fonts/FiraSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ThinItalic.woff") format("woff"), url("../fonts/FiraSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
/* line 3, ../sass/partials/_reset.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/partials/_reset.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

/* line 17, ../sass/partials/_reset.scss */
a, a:visited {
  text-decoration: none;
  color: initial;
}

/* line 22, ../sass/partials/_reset.scss */
ul {
  list-style: none;
}

/* line 1, ../sass/partials/_ctas.scss */
.cta {
  padding: .7em 2em;
  font-weight: 500;
}
/* line 5, ../sass/partials/_ctas.scss */
.cta a {
  font-weight: 500;
}
/* line 9, ../sass/partials/_ctas.scss */
.cta.cta-yellow {
  background: #FFD52B;
}
/* line 12, ../sass/partials/_ctas.scss */
.cta.cta-yellow a {
  color: #fff;
}

/* line 1, ../sass/partials/_header.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 555;
  padding: 2em 0;
  background: #fff;
  transition: .4s ease-out;
}
/* line 10, ../sass/partials/_header.scss */
header.active {
  top: -50%;
  transition: .6s ease-in;
}
/* line 15, ../sass/partials/_header.scss */
header .inner {
  width: 90%;
  margin: 0 auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
header .inner:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../sass/partials/_header.scss */
header ul {
  font-size: 0;
}
/* line 25, ../sass/partials/_header.scss */
header li {
  font-size: initial;
  display: inline-block;
  padding: 0.3em 1em;
}
/* line 30, ../sass/partials/_header.scss */
header li.active a {
  padding-bottom: 0.8em;
  border-bottom: 3px solid #FFD52B;
}

/* line 37, ../sass/partials/_header.scss */
h1 {
  float: left;
  padding-top: 0.7em;
}

/* line 42, ../sass/partials/_header.scss */
#inner-header {
  float: right;
}
/* line 45, ../sass/partials/_header.scss */
#inner-header #header-actions,
#inner-header nav {
  display: inline-block;
}
/* line 50, ../sass/partials/_header.scss */
#inner-header .cta {
  margin: 0 1.5em;
}
/* line 54, ../sass/partials/_header.scss */
#inner-header select {
  -webkit-appearance: none;
  border: 1px solid #FFD52B;
  background: transparent;
  padding: 0.7em 1em;
  border-radius: 100px;
}

/* line 1, ../sass/_index.scss */
#intro {
  padding: 10em 0 6em 0;
  background: #FAFAFA;
}
/* line 5, ../sass/_index.scss */
#intro img {
  display: block;
  width: 90%;
  margin: 0 auto;
}
/* line 11, ../sass/_index.scss */
#intro h2 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}
/* line 17, ../sass/_index.scss */
#intro h2 span.bolder {
  font-size: inherit;
  font-weight: bolder;
}

/* line 24, ../sass/_index.scss */
#last-news {
  background: #FFD52B;
  padding: 5em 0;
  color: #fff;
}
/* line 29, ../sass/_index.scss */
#last-news > .inner {
  width: 90%;
  margin: 0 auto;
}
/* line 34, ../sass/_index.scss */
#last-news h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 3, ../sass/partials/_clearfix.scss */
#last-news .all-articles:after {
  content: "";
  display: table;
  clear: both;
}
/* line 44, ../sass/_index.scss */
#last-news article {
  float: left;
  position: relative;
  overflow: hidden;
  width: 31%;
  margin-right: 3%;
  padding: 2em 0;
  border-radius: 5px;
  background: #fff;
  color: #000;
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.13);
  transition: .4s ease-out;
}
/* line 57, ../sass/_index.scss */
#last-news article:last-child {
  margin-right: 0;
}
/* line 61, ../sass/_index.scss */
#last-news article img.thumbnail {
  position: absolute;
  top: -25%;
  left: -50%;
  opacity: 0;
  z-index: 33;
}
/* line 69, ../sass/_index.scss */
#last-news article:hover {
  background: #000;
  color: #fff;
  transition: .2s ease-in;
}
/* line 75, ../sass/_index.scss */
#last-news article:hover img.thumbnail {
  opacity: .5;
}
/* line 79, ../sass/_index.scss */
#last-news article .top-article {
  position: relative;
  z-index: 44;
  border-bottom: 2px solid rgba(34, 30, 34, 0.1);
}
/* line 84, ../sass/_index.scss */
#last-news article .top-article .inner {
  padding: 1em 2em;
}
/* line 89, ../sass/_index.scss */
#last-news article:hover .top-article {
  border: none;
}
/* line 93, ../sass/_index.scss */
#last-news article .category {
  background: #FFD52B;
  color: #fff;
  padding: .4em 1em;
  border-radius: 100px;
}
/* line 100, ../sass/_index.scss */
#last-news article h3 {
  font-family: "Fira Sans", sans-serif;
  margin: 1em 0 .7em 0;
  font-size: 1.6em;
  font-weight: 500;
}
/* line 107, ../sass/_index.scss */
#last-news article .content {
  position: relative;
  z-index: 44;
  padding: 2em 2em 1em 2em;
}
/* line 113, ../sass/_index.scss */
#last-news article p {
  font-size: 16px;
}
/* line 117, ../sass/_index.scss */
#last-news article a.read-more {
  display: block;
  margin-top: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 124, ../sass/_index.scss */
#last-news article:hover a.read-more {
  color: #fff;
}

/* line 130, ../sass/_index.scss */
#know-more {
  width: 90%;
  margin: 4em auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
#know-more:after {
  content: "";
  display: table;
  clear: both;
}
/* line 135, ../sass/_index.scss */
#know-more .one-fact {
  float: left;
  width: 31%;
  margin-right: 3%;
  text-align: center;
}
/* line 141, ../sass/_index.scss */
#know-more .one-fact:last-child {
  margin-right: 0;
}
/* line 145, ../sass/_index.scss */
#know-more .one-fact h3 {
  font-weight: bold;
  font-size: 1.4em;
}
/* line 150, ../sass/_index.scss */
#know-more .one-fact img {
  display: block;
  width: 30%;
  margin: 0 auto 2em auto;
}
/* line 156, ../sass/_index.scss */
#know-more .one-fact p {
  width: 70%;
  margin: 1em auto;
}
