body[id*="admin-"] {
  div[class*="head-all"] {
      padding-bottom: 20px;
      border-bottom: 3px solid $mgrey;
      margin-bottom: 3em;
      @include clearfix;

      a {
          display: block;
          float: left;
          font-size: 16px;
          font-weight: bolder;
          margin: 0 10px;
          padding: 0 1em;

          &.active {
            position: relative;
            font-size: 17px;
            color: $orange;
            font-weight: bold;

            &::before {
              content: '';
              position: absolute;
              background: $orange;
              width: 100%;
              height: 6px;
              bottom: -25px;
              left: 0;
            }
          }
      }

      a:not(.active) {
          color: rgba(0, 0, 34, 0.5);;
      }

      .vue {
        float: right;

        span.active {
          color: $orange;
          background: $orange;
        }
      }
  }


  article {
      background: #fff;
      padding: 2em 1.5em;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      margin-bottom: 1em;
      @include clearfix;

      a.container {
        display: block;
        float: left;
        @include clearfix;
      }

      // infos, post status, actions
      a.container > div {
        float: left;
        margin-right: 1.3em;
      }

      h3 {
        font-size: 16px;
        margin-bottom: 0.4em;
      }

      &:hover {
          background: #f7f7f7;
      }

      .author, .author b {
          font-size: 16px;
      }

      .post-status {
        position: relative;
        border-radius: 5px;
        border: 1px solid $pink;
        height: 40px;
        line-height: 2.3;
        padding: 0 1em 0 35px;
        color: $pink;
        font-weight: bold;

        .round {
          position: absolute;
          border-radius: 100px;
          width: 7px;
          height: 7px;
          background: $pink;
          left: 15px;
          top: 40%;
        }
      }

      .category {
        @include ctbtn($ldgrey);
      }

      .more {
        float: right;
        width: 5%;
        line-height: 2.8;
        cursor: pointer;
        span {
          display: inline-block;
          width: 7px;
          height: 7px;
          border-radius: 100px;
          background: $ldgrey;
          margin-bottom: 3px;
          cursor: pointer;
        }
      }


  }

  .pagination {
      display: block;
      margin-top: 3em;
      text-align: center;

      .arrow {
        font-weight: bold;
        background: $mgrey;
        padding: .5em .8em;
        border-radius: 4px;
        margin: 0 3px;
      }

      span:not(.arrow) {
        margin: 0 10px;
      }
  }

  .order-by {
      float: right;

      label,
      option,
      select {
          color: $orange;
          font-weight: bolder;
      }

      select {
          border: 1px solid $orange;
          background: none;
          border-radius: 200px;
      }
  }
}
