#admin-aside {
  width: 15%;
  float: left;
  height: 87vh;
  border-right: 1px solid #000;

  li.active {
    position: relative;
    background: rgba(0,0,0,.1);

    &::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 50%;
      background: darkgrey;
      left: 10px;
      top: 25%;
    }

    @media screen and (max-width: $tablet) {
      background: none;
      &::before {
        display: none;
      }
    }
  }

  li {
    transition: .4s ease-out;
  }

  li:hover {
    background: rgba(0,0,0,.1);
    transition: .3s ease;
  }

  a {
    display: block;
    padding: 1.5em 2em;
    border-bottom: 1px solid #000;
  }

  @media screen and (max-width: $tablet) {
    z-index: 666;
    position: absolute;
    background: #fff;
    width: 100%;
    border-right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    padding-top: 10em;
    text-align: center;

    a {
      font-size: 1.5em;
    }

    li:first-child {
      border-top: 1px solid #000;
    }

    li:hover {
      background: initial;
    }
  }
}
