main, header {
    position: relative;
}

#contact {
    position: absolute;
    z-index: 667;
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    @include clearfix;

    .container {
        display: block;
        margin: 0 auto;
        width: 60%;
        font-weight: bold;

        @media screen and (max-width: $mobile) {
          width: 100%;
          text-align: center;
         }

        .cross {
            width: 30px;
            float: right;
        }

        h3 {
            text-align: left;
            font-size: 30px;

            @media screen and (max-width: $mobile) {
              text-align: center;
              }
        }

        .info-contact {
            float: right;
            width: 35%;
            text-align: left;
            padding-top: 12%;

            @media screen and (max-width: $mobile) {
              width: 100%;
              float: none;
              text-align: center;
              }

            .adresse {
                padding-bottom: 8%;
            }

            .adresse-mail {
                padding-top: 6%;
            }
        }

        a {
            color: #fff;
        }

        .first-fields {
            width: 100%;
            text-align: left;

            @media screen and (max-width: $mobile) {
              width: 80%;
              display: block;
              margin: 0 auto;
              }

            input {
                padding: 1% 2%;
                margin: 3%;
                width: 25%;
                color: #fff;
                border: none;
                border-bottom: 1.5px solid #fff;
                background: transparent;

                @media screen and (max-width: $mobile) {
                  width: 100%;

                  &:nth-child(2) {
                      margin-left: 0;
                  }
                  }

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .content-message {
            text-align: left;
            width: 60%;

            @media screen and (max-width: $mobile) {
              width: 80%;
              display: block;
              margin: 0 auto;
              padding-top: 3%; 
              }

            textarea {
                background: transparent;
                color: #fff;
                border: 1.5px solid #fff;
                padding: 3%;
                width: 100%;

                @media screen and (max-width: $mobile) {
                  padding-top: 3%;
                  }
            }
        }

        .button-message {
            float: left;

            input {
                background: transparent;
                color: #fff;
                border: 1px solid #fff;
                padding: 7% 26%;
                margin-top: 28%;
            }
        }

        //WEBKIT POUR PLACEHILDER
                ::-webkit-input-placeholder { /* Chrome */
                  color: #fff;
                }
                :-ms-input-placeholder { /* IE 10+ */
                  color: #fff;
                }
                ::-moz-placeholder { /* Firefox 19+ */
                  color: #fff;
                  opacity: 1;
                }
                :-moz-placeholder { /* Firefox 4 - 18 */
                  color: #fff;
                  opacity: 1;
                }
    }
}
