.cta {
  padding: .7em 2em;
  font-weight: 500;
<<<<<<< HEAD
  cursor: pointer;
=======
  border-radius: 23px;
>>>>>>> afef0e300af3fe6bc30ab04d26e85dbb46886155

  a {
    font-weight: 500;
  }

  &.cta-yellow {
    background: $yellow;

    a { color: #fff; }
  }
}
