// SOURCE SERIF PRO

@font-face {
	font-family: 'Source Serif Pro';
	src: url('../fontsSourceSerifPro-Semibold.eot');
	src: url('../fontsSourceSerifPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fontsSourceSerifPro-Semibold.woff') format('woff'),
		url('../fontsSourceSerifPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Serif Pro';
	src: url('../fontsSourceSerifPro-Bold.eot');
	src: url('../fontsSourceSerifPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fontsSourceSerifPro-Bold.woff') format('woff'),
		url('../fontsSourceSerifPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Serif Pro';
	src: url('../fontsSourceSerifPro-Regular.eot');
	src: url('../fontsSourceSerifPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fontsSourceSerifPro-Regular.woff') format('woff'),
		url('../fontsSourceSerifPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// FIRA SANS

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-ExtraLight.eot');
	src: url('../fonts/FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-ExtraLight.woff') format('woff'),
		url('../fonts/FiraSans-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-Thin.eot');
	src: url('../fonts/FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Thin.woff') format('woff'),
		url('../fonts/FiraSans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-Black.eot');
	src: url('../fonts/FiraSans-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Black.woff') format('woff'),
		url('../fonts/FiraSans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-Medium.eot');
	src: url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Medium.woff') format('woff'),
		url('../fonts/FiraSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-ExtraLightItalic.eot');
	src: url('../fonts/FiraSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-ExtraLightItalic.woff') format('woff'),
		url('../fonts/FiraSans-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-Bold.eot');
	src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Bold.woff') format('woff'),
		url('../fonts/FiraSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-SemiBold.eot');
	src: url('../fonts/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-SemiBold.woff') format('woff'),
		url('../fonts/FiraSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-LightItalic.eot');
	src: url('../fonts/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-LightItalic.woff') format('woff'),
		url('../fonts/FiraSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-Italic.eot');
	src: url('../fonts/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Italic.woff') format('woff'),
		url('../fonts/FiraSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-ExtraBold.eot');
	src: url('../fonts/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-ExtraBold.woff') format('woff'),
		url('../fonts/FiraSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-Regular.eot');
	src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Regular.woff') format('woff'),
		url('../fonts/FiraSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-ExtraBoldItalic.eot');
	src: url('../fonts/FiraSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-BoldItalic.eot');
	src: url('../fonts/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-BoldItalic.woff') format('woff'),
		url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-Light.eot');
	src: url('../fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Light.woff') format('woff'),
		url('../fonts/FiraSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-SemiBoldItalic.eot');
	src: url('../fonts/FiraSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-SemiBoldItalic.woff') format('woff'),
		url('../fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-MediumItalic.eot');
	src: url('../fonts/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-MediumItalic.woff') format('woff'),
		url('../fonts/FiraSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-BlackItalic.eot');
	src: url('../fonts/FiraSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-BlackItalic.woff') format('woff'),
		url('../fonts/FiraSans-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-ThinItalic.eot');
	src: url('../fonts/FiraSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-ThinItalic.woff') format('woff'),
		url('../fonts/FiraSans-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
