#footer {
    position: relative;
    padding: .5em 0;
    background: $dblue;
    clear: both;

    &::before {
        content: '';
        position: absolute;
        background: $orange;
        width: 20px;
        top: 0;
        left: 0;
        height: 100%;

        @media screen and (max-width: $tablet) {
            width: 100%;
            bottom: 0;
            height: 20px;
        }
    }

    @media screen and (max-width: $tablet) {
        padding-bottom: 3em;
    }

    .inner {
        width: $adminMainWidth;
        margin: 0 auto;
        font-size: 0;
    }

    .logo-footer {
        font-size: initial;
        display: inline-block;
        vertical-align: middle;
        width: 20%;
        @media screen and (max-width: $tablet) {
            float: none;
            width: 100%;
            display: block;
        }

        img {
            display: block;
            margin: 10% auto;
        }
    }

    div.content {
        display: inline-block;
        vertical-align: middle;
        margin-top: 1em;
        width: 70%;
        text-align: center;

        p {
            color: #fff;
            margin-bottom: 1em;
        }

        li {
            display: inline-block;
            margin: 0 0.5em;
        }

        a {
            display: inline-block;
            color: #fff;
            text-decoration: underline;
        }

        @media screen and (max-width: $tablet) {
            display: block;
            width: 100%;
            margin-top: 0;
        }
    }
}
