#footer {
    .information {
      background: #f3f3f3;
      color: #000;
      @include clearfix;
    }


    .logo-footer {
        width: 30%;
        float: left;

        @media screen and (max-width: $mobile) {
          float: none;
          display: block;
          margin: 10% auto;
          padding-top: 10%;
        }

        img {
            display: block;
            margin: 10% auto;
        }
    }

    .resume-footer {
        @include clearfix;
        width: 70%;
        margin: 2% auto;
        float: right;

        div {
            width: 23%;
            float: left;
          
            @media screen and (max-width: $tablet) {
              width: 50%;
              margin: 2% auto;
            }

            @media screen and (max-width: $mobile) {
              width: 100%;
            }
        }

        a {
            line-height: 2em;
            color: #000;
        }

        a:hover {
            color: #fff;
        }
    }

    .legal-footer {
        background: #fff;
        margin: 3% auto;

        ul {
            text-align: center;
            width: 100%;
        }

        li {
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
            margin: 0 2%;

            @media screen and (max-width: $mobile) {
              width: 100%;
            }
        }

        a {
            font-size: 14px;
            font-weight: bold;
        }

        b {
            font-size: 14px;
            color: #000;
        }
    }
}
