body[id*="admin-"] {

  header {
    @include clearfix;
    padding: 2.5em 0;
    border-bottom: 1px solid #000;

    .inner {
      width: $headerWidth;
      margin: 0 auto;
    }
  }


  #admin-actions {
    float: right;
    @include clearfix;

    & > div {
      float: left;
    }
 
    .cta {
      border: 1px solid #000;
      margin: 0 .5em;
    }

    .icon-action {
      @include clearfix;

      & > span {
        display: block;
        position: relative;
        float: left;
        margin-right: .4em;
        cursor: pointer;
        font-size: 1.8em;
        line-height: .8;
      }

      span.push {
        position: absolute;
        top: 0;
        right: -10px;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 100%;
        background: red;
        color: #fff;
        line-height: initial;
      }
    }
  }
}
