body:not([id*="admin-"]).window-active {
    overflow: hidden;
}

body:not([id*="admin-"]) header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 555;
    padding: 1.7em 0 1em 0;
    background: transparent;
    transition: .4s ease-out;

    @media screen and (max-width: $btablet) {
        background: #fff;
        padding-top: 0;
        padding-bottom: 3%;
    }

    &.active {
      top: -50%;
      transition: .6s ease-in;
    }

    &.not-top {
      background: #fff;
    }

    .inner {
      width: $headerWidth;
      margin: 0 auto;
      @include clearfix;

      .logo-desktop {
          display: block;
      }
      @media screen and (max-width: $btablet) {
          .logo-desktop {
              display: none;
          }
      }

      .logo-mobile {
          display: none;
          margin: 0 auto;
          width: 100px;
          height: auto;
      }
      @media screen and (max-width: $btablet) {
          .logo-mobile {
              display: block;
          }
      }

      .menu-burger {
          display: none;
          position: absolute;
          top: 30px;
          left: 20px;
          width: 26px;
          height: 26px;

          span {
              position: absolute;
              width: 69%;
              height: 2px;
              background: #000;

              &:nth-child(2) {
                  top: 7px;
                  width: 100%;
              }

              &:nth-child(3) {
                  top: 14px;
                  width: 69%;
              }
          }
      }

    .share-header {
        display: none;
        position: absolute;
        width: 30px;
        height: auto;
        top : 30px;
        right: 20px;
    }

    @media screen and (max-width: $btablet) {
        .menu-burger, .share-header {
            display: block;
        }
      }

    }

    nav {
        @media screen and (max-width: $btablet) {
                width: 100%;
                text-align: center;
                padding: 10%;
        }
    }


    ul { font-size: 0; }

    li {
        font-size: initial;
        display: inline-block;
        padding: 0.3em 1em;

        @media screen and (max-width: $btablet) {
                display: block;
                padding-top: 9%;
        }

        img { width: 6px; }


        &.active a {
            padding-bottom: 0.8em;

        @media screen and (max-width: $btablet) {
            border: 0;
            font-weight: bold;
            }
        }

        @media screen and (max-width: $tablet) {
            a {
                font-size: 24px;
            }
        }
    }
}

body:not([id*="admin-"]) h1 {
    float: left;
    padding-top: 0.7em;

    @media screen and (max-width: $btablet) {
        float: none;
        width: 100px;
        margin: 0 auto;
    }

    &.active #header {
        display: block;
    }
}

body:not([id*="admin-"]) #inner-header {
    float: right;
    @media screen and (max-width: $btablet) {
        width: 100%;
        display: none;
        height: 100vh;
    }

        &.hidde {
            display: block;
        }
    }


    #header-actions,
    nav {
        display: inline-block;

        @media screen and (max-width: $btablet) {
            text-align: center;
            width: 100%;
        }

    .cta {
        background: $pink;
        margin: 0 1.5em;

        @media screen and (max-width: $btablet) {
            margin: 0 auto;
            width: 70%;
            display: block;
            margin-bottom: 11%;
            margin-top:4%;
        }
    }

    select {
        -webkit-appearance: none;
        border: 1px solid $dblue;
        background: $dblue;
        padding: 0.7em 1em;
        border-radius: 100px;
        color: #fff;

        @media screen and (max-width: $btablet) {
            display: block;
            margin: 0 auto;
    }
    }
}
