body:not([id*="admin-"]) header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 555;
    padding: 2em 0;
    background: #fff;
    transition: .4s ease-out;

    &.active {
      top: -50%;
      transition: .6s ease-in;
    }

    .inner {
      width: $headerWidth;
      margin: 0 auto;
      @include clearfix;
    }

    ul {
        font-size: 0;
    }

    li {
        font-size: initial;
        display: inline-block;
        padding: 0.3em 1em;

        &.active a {
            padding-bottom: 0.8em;
            border-bottom: 3px solid $yellow;
        }
    }
}

body:not([id*="admin-"]) h1 {
    float: left;
    padding-top: 0.7em;
}

body:not([id*="admin-"]) #inner-header {
    float: right;

    #header-actions,
    nav {
        display: inline-block;
    }

    .cta {
        margin: 0 1.5em;
    }

    select {
        -webkit-appearance: none;
        border: 1px solid $yellow;
        background: transparent;
        padding: 0.7em 1em;
        border-radius: 100px;
    }
}
