header {
  width: $headerWidth;
  margin: 0 auto;
  @include clearfix;
  padding-top: 2em;

  ul { font-size: 0; }
  li {
    font-size: initial;
    display: inline-block;
    padding: .3em 1em;
  }
}

h1 {
  float: left;
}

#inner-header {
  float: right;

  nav, #header-actions {
    display: inline-block;
  }

  .cta {
    margin: 0 1.5em;
  }
}
