.tpc {
    background: $lgrey;
    padding: 3em 0;

    .wrapper {
        width: $headerWidth;
        margin: 0 auto;
        @include clearfix;
    }

    .el {
        float: left;
        background: #fff;
        width: 31%;
        margin-right: 3%;
        border-radius: 5px;
        box-shadow: -2px 2px 7px rgba(0,0,0,.13);
        transition: .3s ease-out;

        @media screen and (max-width: $tablet) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 2em;
        }

        &:last-child {
            margin: 0;
        }

        &:hover {
            box-shadow: 0px 2px 35px rgba(0,0,0,.33);
            transition: .2s ease-in;
        }

        .head {
            background: $pink;
            padding: 2.5em 2em 1.7em 2em;
            color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            h3 {
                font-size: 1.4em;
                font-weight: bolder;
                text-transform: uppercase;
            }

            p {
                line-height: 1.6;
                font-style: italic;
                font-size: 16px;
            }
        }

        .content {
            padding: 2em;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            p {
                margin-bottom: .5em;
            }
        }
    }
} // END OF ABOUT US
