@charset "utf-8";

* {
		padding: 0;
		margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	font-size: 17px;
	font-family: $Roboto;
	font-weight: lighter;
}

a, a:visited {
	text-decoration: none;
	color: initial;
}

ul {
	list-style: none;
}

body[id*="admin-"] {
	@include clearfix;
}

select {
	-webkit-appearance: none;
	padding: .4em 1em;
}

body[id*="admin-"] {
	overflow: hidden;

	main {
		height: 83vh;
		overflow-y: auto;

		&::-webkit-scrollbar {
        width: .5em;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $lgrey;
      outline: 1px solid slategrey;
    }
	}

}
